<div class="filter filter--color">
    <div class="filter__title">
        <mat-icon>filter_list</mat-icon>
        Bộ lọc tìm kiếm
    </div>
    <ul class="filter__list">
        <div class="filter__item">
            <div class="filter__item-name">Theo danh mục</div>
            <ul class="filter-select__list">
                <li class="filter-select__item">
                    <section>
                        <mat-checkbox formControlName="pepperoni"><span>Extra Cheese</span></mat-checkbox>
                    </section>
                </li>
            </ul>
        </div>
        <div class="filter__item">
            <div class="filter__item-name">Theo thương hiệu</div>
            <ul class="filter-select__list">
                <li class="filter-select__item">
                    <section>
                        <mat-checkbox formControlName="pepperoni"><span>Extra Cheese</span></mat-checkbox>
                    </section>
                </li>
            </ul>
        </div>
    </ul>
</div>