<ng-container [formGroup]="form">
  <ng-container *ngIf=" field.abstractControl=='array' ; else elseBlock">
    <div class="d-flex flex-wrap" [formArrayName]="field.name">
      <ng-container *ngIf="formAttr">
        <ng-container *ngFor="let c of formArray.controls; index as i">
          <div class="drop-container" *ngIf="!field.value">
            <p class="m-0">
              Drag a file here or
              <label class="upload-button">
                <input type="file" multiple="" [formControlName]="i"> browse
              </label>
              to upload.
            </p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="drop-container" *ngIf="!field.value">
      <p class="m-0">
        Drag a file here or
        <label class="upload-button">
          <input type="file" multiple="" [formControlName]="field.name"> browse
        </label>
        to upload.
      </p>
    </div>
  </ng-template>
</ng-container>
