<ng-container [formGroup]="form">
  <!-- File FormArray -->
  <ng-container *ngIf=" field.abstractControl=='array' ; else elseBlock">
    <div class="d-flex flex-wrap" [formArrayName]="field.name">
      <ng-container *ngIf="formArray">
        <ng-container *ngFor="let c of formArray.controls; index as i">
          <div class="drop-wrapper">
            <label [for]="findInputId + i" class="drop-container" *ngIf="!field.value">
              <div class="m-0">
                <p>
                  <label [id]="fileInputLabelPrefix + i">Drag a file here or</label>
                  <label class="upload-button">
                    <input [id]="findInputId + i" (change)="onFileChange($event,i)" type="file" multiple=""
                      [formControlName]="i">
                    browse
                  </label>
                  <label [id]="fileInputLabelSuffix + i">to upload.</label>
                </p>
              </div>
              <img class="review-image" [src]="imageURLs.get(i)" alt="">
            </label>
            <div style="text-align: center;">
              <label *ngIf="i == 0 && field.required; else notTitle">{{field.title}} <strong
                  class="text-danger">*</strong>
              </label>
              <ng-template #notTitle>
                <p>Ảnh {{i}}</p>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <!-- Video FormControl -->
  <ng-template #elseBlock>
    <div class="d-flex flex-wrap">
      <div class="drop-wrapper">
        <div class="drop-container" *ngIf="!field.value">
          <div class="m-0">
            <p>Drag a file here or
              <label class="upload-button">
                <input #videoInput type="file" multiple="" [accept]="field.accept" [formControlName]="field.name">
                browse
              </label>
              to upload.
            </p>
          </div>
        </div>
        <div style="text-align: center;">
          <label *ngIf="field.required">{{field.title}} <strong class="text-danger">*</strong>
          </label>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
