<li #imageCarouselItem class="image-carousel__item">
    <!-- <div class="home-category-list row no-gutters">
        <ng-content select="app-content-1"></ng-content>
        <a href="" class="home-category-item col l-12" *ngFor="let it of carouselItem">
            <div class="home-category-item__image">
                <img style="width: 100%;" src="https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn" alt="">
            </div>
            <div class="home-category-item__name">
                đồ chơi trẻ em
            </div>
        </a>
    </div> -->
    <!-- <ng-content select="app-content"></ng-content> -->
    
</li>