<div class="grid wide">
    <div class="section-container">
        <div class="header-section header-section--simple">
            <div class="header-section__header">
                <div class="header-section__header__title">
                    danh mục
                </div>
            </div>
            <div class="header-section__content">
                <app-category-carousel [itemList]="categoriesView"></app-category-carousel>
            </div>
        </div>
    </div>
</div>
<app-category-carousel [number]="number">

</app-category-carousel>
<button (click)="incr()"></button>