<main>
  <section>
    <div style="height: 120px"></div>
    <div class="container bg-grey">
      <div style="width: 320px"></div>
      <div class="headerone ">
        <div class="caption">
          <h1 style="color: #333;font-weight: 700; padding-top: 10px;margin-bottom: 6px">Đánh Giá Shop</h1>
          <div style="color: #999;font-size: 15px;">Xem đánh giá Shop của bạn</div>
        </div>
        <div class="button-header">
          <div>
            <span style="font-size: 40px;color: #ee4d2d;">0.0</span>
            <span style="font-size: 20px; color: #8c8c8c;">&nbsp;/&nbsp;5</span>
          </div>
        </div>
      </div>
      <div class="rating_filter-wrapper">
        <form>
          <div class="rating-filter row">
            <div class="shop-item col-4">
              <label>Tên sản phẩm:</label>
              <div class="control">
                <div class="content">
                  <input type="text" placeholder="Nhập tên sản phẩm">
                </div>
              </div>
            </div>
            <div class="shop-item col-4">
              <label style="flex:0.8">Phân loại hàng:</label>
              <div class="control">
                <div class="content">
                  <input type="text" placeholder="Nhập tên phân loại hàng">
                </div>
              </div>
            </div>
            <div class="shop-item col-4">
              <label style="flex:0.65">Người mua:</label>
              <div class="control">
                <div class="content">
                  <input type="text" placeholder="Nhập tên đăng nhập">
                </div>
              </div>
            </div>
            <div class="shop-item col-4">
              <label style="flex:0.74">Thời gian Đánh giá:</label>
              <div class="control">
                <div class="content">
                  <input type="date" value="" placeholder="Chọn thời gian">
                </div>
              </div>
            </div>
          </div>
          <div class="rating-action">
            <label class="empty"></label>
            <div class="control">
              <div class="content" style="display: flex">
                <button class="shop-button primary" style="display: flex"><span>Tìm</span></button>
                <button class="mr2 shop-button bg-white" style="display: flex"><span>Nhập lại</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <div class="content">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <section>
    <div></div>
  </section>
</main>
<!--5/3/1995-->
