<div class="header-shop container-fluid" >
  <div class="logo-shop">
    <div class="logo-shop-border">
    <img class="logo-shop-image" src="assets/img/product/1.png">
    <div class="head-title-shop">
      <h3>Mini Shop</h3>
      <p>Online 5 giờ trước</p>
    </div>
    <div class="head-button-shop">
      <button type="button" class="btn btn-warning">+ Theo dõi</button>
    </div>
    </div>
  </div>
  <div class="list-profile-shop">
    <div class="list-profile-detail">
      <ul>
      <li><i></i><label class="title-profile"> Sản phẩm : <p>222</p></label></li>
      <li><i></i><label class="title-profile">Được theo dõi : <p>222</p></label></li>
      <li><i></i><label class="title-profile">Tỉ lệ phản hồi : <p>15%</p></label></li>
      </ul>
    </div>
    <div  class="list-profile-detail">
      <ul>
      <li><i></i><label class="title-profile">Tỉ lệ shop hủy đơn : <p>10%</p></label></li>
      <li><i></i><label class="title-profile">Người theo dõi : <p>222</p></label></li>
      <li><i></i><label class="title-profile">Đánh giá : <p>21k đánh giá</p></label></li>
      </ul>
    </div>
    <div  class="list-profile-detail">
      <ul>
      <li><i></i><label class="title-profile">Ngày tham gia : <p>21/11/2020</p></label></li>
      </ul>
    </div>
  </div>
</div>
<div class="content-shop container-fluid" >
  <h3 class="content-shop-profile">Thông tin Shop</h3>
  <div class="content-shop-center ">
<div id="carousel-shop" class="carousel slide content-shop-left " data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/product/1.png" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/product/2.png" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/product/3.png" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
  <div class="content-shop-right">
    <h3>Mini Shop</h3>
    <p>Chuyên Sỉ Lẻ Giá Rẻ Toàn Quốc </p>
    <p>Các bạn có điều gì thắc mắc hãy chat ngay với shop để được giải đáp nhé .</p>
  </div>
  </div>
</div>
<app-product-list></app-product-list>
