<div class="product-management">
    <div class="product-menu-head">
        <div class="main-order">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Tất cả">
                    <div class="list-all">
                        <div class="product-list-header">
                            <div class="product-list-wrap">
                                <div class="product-list-wrap__left">
                                    <div class="title-box">
                                        <div class="page-title">1 Product</div>
                                        <div class="percent-box">
                                            <div class="percent-bar">
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                            </div>
                                            <div class="percent-des">
                                                Có thể đăng tải thêm 100 sản phẩm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-wrap__right">
                                    <button class="add-new-product-btn"
                                        routerLink="/seller/product-management/category">
                                        <mat-icon>playlist_add</mat-icon> Thêm một sản phẩm
                                    </button>
                                    <div class="view-models">
                                        <div class="view-model-item active">
                                            <div class="list-view">
                                                <mat-icon>view_list</mat-icon>
                                            </div>
                                        </div>
                                        <div class="view-model-item">
                                            <div class="grid-view">
                                                <mat-icon>grid_on</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-product-list-section></app-product-list-section>
                    </div>
                </mat-tab>
                <mat-tab label="Đang hoạt động">
                    <div class="list-all">
                        <div class="product-list-header">
                            <div class="product-list-wrap">
                                <div class="product-list-wrap__left">
                                    <div class="title-box">
                                        <div class="page-title">1 Product</div>
                                        <div class="percent-box">
                                            <div class="percent-bar">
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                            </div>
                                            <div class="percent-des">
                                                Có thể đăng tải thêm 100 sản phẩm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-wrap__right">
                                    <button class="add-new-product-btn"></button>
                                    <div class="view-models">
                                        <div class="view-model-item active">
                                            <div class="list-view">
                                                <mat-icon>view_list</mat-icon>
                                            </div>
                                        </div>
                                        <div class="view-model-item">
                                            <div class="grid-view">
                                                <mat-icon>grid_on</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-product-list-section></app-product-list-section>
                    </div>
                </mat-tab>
                <mat-tab label="Hết hàng">
                    <div class="list-all">
                        <div class="product-list-header">
                            <div class="product-list-wrap">
                                <div class="product-list-wrap__left">
                                    <div class="title-box">
                                        <div class="page-title">1 Product</div>
                                        <div class="percent-box">
                                            <div class="percent-bar">
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                            </div>
                                            <div class="percent-des">
                                                Có thể đăng tải thêm 100 sản phẩm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-wrap__right">
                                    <div class="view-models">
                                        <div class="view-model-item active">
                                            <div class="list-view">
                                                <mat-icon>view_list</mat-icon>
                                            </div>
                                        </div>
                                        <div class="view-model-item">
                                            <div class="grid-view">
                                                <mat-icon>grid_on</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>