<!-- partial -->
<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image">
          <img src="assets/img/s-product/product.jpg" alt="image" />
        </div>
        <div class="profile-name">
          <ng-container *ngIf="shop">
            <p class="name">
              Xin chào, {{shop.name}}
            </p>
          </ng-container>
        </div>
      </div>
    </li>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>card_travel</mat-icon>
            Quản lý sản phẩm
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p [routerLink]="['/seller/product-management/all']">Tất cả sản phẩm</p>
        <p [routerLink]="['/seller/product-management/category']">Thêm sản phẩm</p>
        <p>Sản phẩm vi phạm</p>
      </mat-expansion-panel>
    </mat-accordion>
  </ul>
</nav>
<!-- partial -->
<!-- partial -->
