/* Sidebar */
.sidebar {
  min-height: calc(100vh - 70px);
  background: #ffffff;
  font-family: "PTSans", sans-serif;
  font-weight: 400;
  padding: 0;
  width: 255px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  border: 3px solid #bbb5b5;
}

.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
}

.sidebar .nav .nav-item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
  margin-bottom: 5px;
}

.sidebar .nav .nav-item .collapse {
  z-index: 999;
}

.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.75rem 1.875rem 0.75rem 1.875rem;
  color: #686868;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
}

.sidebar .nav .nav-item .nav-link i {
  color: inherit;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
  font-size: 0.9375rem;
  line-height: 1;
  margin-right: 1.5rem;
  color: #9B9B9B;
}

.rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
  margin-left: 2rem;
  margin-right: 0;
}

.sidebar .nav .nav-item .nav-link i.menu-icon:before {
  vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow {
  margin-left: auto;
  line-height: 1;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-size: .75rem;
  color: #392C70;
}

.rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
  margin-right: auto;
  margin-left: 0;
}

.sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: middle;
  font-weight: 400;
}

.sidebar .nav .nav-item .nav-link .badge {
  margin-left: auto;
}

.rtl .sidebar .nav .nav-item .nav-link .badge {
  margin-left: 0;
  margin-right: auto;
}

.sidebar .nav .nav-item.active {
  background: inherit;
}

.sidebar .nav .nav-item.active>.nav-link {
  position: relative;
}

.sidebar .nav .nav-item.active>.nav-link i,
.sidebar .nav .nav-item.active>.nav-link .menu-title,
.sidebar .nav .nav-item.active>.nav-link .menu-arrow {
  color: #392C70;
}

.sidebar .nav .nav-item.active>.nav-link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #392C70;
}

.sidebar .nav .nav-item.nav-profile .nav-link {
  height: auto;
}

.sidebar .nav .nav-item.nav-profile .profile-image {
  position: relative;
  width: 40px;
  height: 40px;
}

.sidebar .nav .nav-item.nav-profile .profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.sidebar .nav .nav-item.nav-profile .profile-name {
  text-align: left;
  margin-left: .75rem;
}

.rtl .sidebar .nav .nav-item.nav-profile .profile-name {
  margin-left: auto;
  margin-right: .75rem;
}

.sidebar .nav .nav-item.nav-profile .profile-name .name,
.sidebar .nav .nav-item.nav-profile .profile-name .designation {
  font-family: "PTSans", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.5;
}

.sidebar .nav .nav-item.nav-profile .profile-name .name {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.sidebar-dark .sidebar .nav .nav-item.nav-profile .profile-name .name {
  color: #ffffff;
}

.sidebar .nav .nav-item.nav-profile .profile-name .designation {
  color: #686868;
  font-size: .75rem;
}

.sidebar .nav .nav-item.nav-profile i {
  color: #ffffff;
  font-size: 1rem;
  margin-left: auto;
}

@media (max-width: 991px) {
  .sidebar .nav .nav-item.nav-profile {
    padding-top: 1rem;
  }
}

.sidebar .nav:not(.sub-menu)>.nav-item:hover:not(.nav-profile)>.nav-link {
  background: #f6f6f6;
  color: #8d9498;
}

.sidebar .nav.sub-menu {
  margin-top: 0;
  list-style: none;
  padding: 0 0 0 4.25rem;
}

.sidebar .nav.sub-menu .nav-item {
  padding: 0;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
  color: #999999;
  padding: 0.75rem 1rem;
  position: relative;
  font-size: 0.8125rem;
  line-height: 1;
  height: auto;
  border-top: 0;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin-left: -1.25rem;
  top: 15px;
  background: #ffffff;
}

.rtl .sidebar .nav.sub-menu .nav-item .nav-link:before {
  margin-left: auto;
  margin-right: -1rem;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
  color: #000;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover:before {
  color: #000;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active {
  color: #392C70;
  background: transparent;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active:before {
  color: #392C70;
}

.sidebar .nav.sub-menu .nav-item:hover {
  background: transparent;
}

.sidebar-dark .sidebar {
  background: #3a3f51;
}

.sidebar-dark .sidebar .nav .nav-item .nav-link {
  color: #ffffff;
}

.sidebar-dark .sidebar .nav .nav-item .nav-link i {
  color: inherit;
}

.sidebar-dark .sidebar .nav .nav-item .nav-link i.menu-icon {
  color: #ffffff;
}

.sidebar-dark .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  color: #ffffff;
}

.sidebar-dark .sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
}

.sidebar-dark .sidebar .nav .nav-item.active {
  background: inherit;
}

.sidebar-dark .sidebar .nav .nav-item.active>.nav-link .menu-title,
.sidebar-dark .sidebar .nav .nav-item.active>.nav-link i {
  color: #c0bbbb;
}

.sidebar-dark .sidebar .nav:not(.sub-menu)>.nav-item:hover:not(.nav-profile)>.nav-link {
  background: #493d5f;
  color: #ffffff;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link {
  color: #ffffff;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link:before {
  color: white;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active {
  color: #c0bbbb;
  background: transparent;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link:hover {
  color: #9a94a7;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item:hover {
  background: transparent;
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -255px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .sidebar-offcanvas.active {
    right: 0;
  }
}

/* Remake side bar */
* {}

mat-panel-title {
  font-size: 16px;
  font-weight: 500;
  color: #999;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

mat-panel-title mat-icon {
  margin-right: 10px
}

mat-expansion-panel p {
  font-size: 14px;
  color: var(--text-color);
  margin-left: 50px;
}

mat-expansion-panel p:hover {
  color: var(--test--)
}
