<div class="cart-container">
    <div class="cart-row-wrap" *ngIf="user$ | async as user">
        <ng-container *ngFor="let address of user.addresses">
            <ng-container *ngIf="address.status === 1">
                <div class="cart-row address-line"></div>
                <ng-container *ngIf="!isChangeAddress; else changeAddressTempRef">
                    <div class="cart-row address d-block">
                        <span class="address__tittle d-flex align-items-center">
                            <mat-icon> location_on</mat-icon>Địa chỉ nhận hàng
                        </span>
                        <div class="d-flex justify-content-between align-items-center" style="padding: 5px 0">
                            <div class="" style="font-weight: 550">
                                <span>{{ address.fullName }} {{ address.phoneNumber }}</span>
                            </div>
                            <p>
                                {{ address.detailAddress }}-{{ address.ward.prefix }}
                                {{ address.ward.name }}, {{ address.district.prefix }}
                                {{ address.district.name }}, {{ address.province.name }}
                            </p>
                            <div class="" style="color: #ccc">Mặc định</div>
                            <div (click)="isChangeAddress = !isChangeAddress" class=""
                                style="color: var(--primary-color--); cursor: pointer">
                                Thay đổi
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #changeAddressTempRef>
            <div class="cart-row change-address">
                <mat-radio-group [(ngModel)]="sltAddressId">
                    <div *ngFor="let address of user.addresses">
                        <mat-radio-button [value]="address.id">
                            {{ address.detailAddress }}-{{ address.ward.prefix }}
                            {{ address.ward.name }}, {{ address.district.prefix }}
                            {{ address.district.name }}, {{ address.province.name }}
                        </mat-radio-button>
                    </div>
                    <div class="">
                        <button (click)="saveSltAddress()" class="primary-btn" mat-raised-button
                            style="margin-right: 20px">
                            Lưu
                        </button>
                        <button mat-raised-button (click)="isChangeAddress = !isChangeAddress">
                            Hủy
                        </button>
                    </div>
                </mat-radio-group>
            </div>
        </ng-template>
    </div>
    <div class="cart-row-wrap">
        <div class="cart-row header">
            <div class="cart-col">
                <p>Sản phẩm</p>
            </div>
            <div class="cart-col">
                <p>Đơn giá</p>
            </div>
            <div class="cart-col">
                <p>Số lượng</p>
            </div>
            <div class="cart-col">
                <p>Thành tiền</p>
            </div>
        </div>
    </div>
    <ng-container *ngIf="sumCart$ | async as sumCart">
        <ng-container *ngFor="let summaryCartItem of sumCart.summaryCartItems; index as idx">
            <div class="cart-row-wrap" *ngIf="summaryCartItem.cartItem.pendingItems.length > 0">
                <div class="cart-row header">
                    <div class="cart-col">
                        <p style="font-size: 1.6rem; font-weight: 550">
                            Tên cửa hàng: {{ summaryCartItem.cartItem.shop.name }}
                        </p>
                    </div>
                </div>
                <ng-container *ngFor="
            let pendingItem of summaryCartItem.cartItem.pendingItems;
            index as pendingIdx
          ">
                    <div class="cart-row product">
                        <div class="cart-col">
                            <img [src]="directLinkImage + pendingItem.product.images[0].url" alt="" />
                            <p>{{ pendingItem.product.name }}</p>
                        </div>
                        <div class="cart-col">
                            <span *ngIf="pendingItem.product.discountPercent > 0"
                                style="color: #999; text-decoration: line-through">
                                {{ pendingItem.product.sourcePrice | currency: "VND" }}
                            </span>
                            <span>{{ pendingItem.product.buyPrice | currency: "VND" }}</span>
                        </div>
                        <div class="cart-col">
                            <span style="
                  text-align: center;
                  color: var(--primary-color--);
                  border-radius: 5px;
                ">{{ pendingItem.quantity }}</span>
                        </div>
                        <div class="cart-col">
                            <p>
                                {{
                                pendingItem.quantity * pendingItem.product.buyPrice
                                | currency: "VND"
                                }}
                            </p>
                        </div>
                    </div>
                </ng-container>
                <div class="cart-row summary-cart-item justify-content-end">
                    <div class="d-flex justify-content-between">
                        <span style="color: rgb(0, 191, 165)"> Đơn vị vận chuyển: </span>
                        <span *ngIf="summaryCartItem.shipping.type == 'standard'" style="margin: 0 20px">Tiêu
                            chuẩn</span>
                        <span *ngIf="summaryCartItem.shipping.type == 'fast'" style="margin: 0 20px">Nhanh</span>
                        <span>{{
                            summaryCartItem.shipping.cost.cost | currency: "VND"
                            }}</span>
                        <span (click)="onClickChangeShippingUnit(summaryCartItem.cartItem)" style="
                color: var(--primary-color--);
                margin-left: 20px;
                cursor: pointer;
              ">Thay đổi</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end" style="padding: 0 10px">
                    <span style="color: #ccc">
                        Nhận hàng vào {{ summaryCartItem.shipping.cost.time }} sau
                    </span>
                </div>
                <div class="cart-row summary-cart-item justify-content-end">
                    <div class="d-flex justify-content-between">
                        <span style="margin-right: 10px">
                            Tổng số tiền ({{
                            summaryCartItem.cartItem.pendingItems.length
                            }}
                            sản phẩm):
                        </span>
                        <span style="font-size: 2rem; color: var(--primary-color--)">{{
                            summaryCartItem.totalPayment | currency: "VND"
                            }}</span>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="cart-row-wrap" style="position: sticky; bottom: 0">
            <div class="cart-row payment-method">
                <h2 class="payment-method__title">Phương thức thanh toán</h2>
                <ul class="payment-method__list">
                    <li class="payment-method__item" [class.payment-method__slt]="sltMethodIdx === idx" (click)="onClickSltMethod(idx)" *ngFor="let method of paymentMethods; index as idx">
                        {{method[1]}}
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-lg-end cart-row summary-cart">
                <div class="">
                    <div class="d-flex justify-content-between" *ngIf="sumCart$ | async as sumCart">
                        <span style="margin-right: 40px">Tổng tiền hàng</span>
                        <span>{{sumCart.totalCartItem | currency: "VND" }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span style="margin-right: 40px">Phí vận chuyển</span>
                        <span>{{sumCart.totalShipCost | currency: "VND"}}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span style="margin-right: 40px">Tổng thanh toán</span>
                        <span style="color: var(--primary-color--); font-size: 2rem">{{sumCart.totalPayment | currency: "VND"}}</span>
                    </div>
                </div>
            </div>
            <div class="cart-row justify-content-between" style="padding: 10px">
                <p>
                    Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo Điều khoản
                    <span style="color: var(--primary-color--)">Toy Fair</span>
                </p>
                <button (click)="onClickOrder()" style="background: var(--primary-color--); color: #fff; width: 200px">
                    Đặt hàng
                </button>
            </div>
        </div>
    </ng-container>
</div>