.middel_right_info {
  a {
    margin-left: 20px;
    color: black;
  }
}
.notification {
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 999;
  overflow: hidden;
  display: none;
}
.notification__list {
  min-width: 200px;
  box-shadow: 0 0 2px #ccc;
  border-radius: 3px;
  padding: 5px 0;
}
.notification__list--color {
  background-color: #fff;
}
.notification__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}
.notification__item:hover {
  background-color: var(--hover-color--);
}
.notification__item i {
  padding: 0 10px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-info .username {
  margin: 0;
  font-size: 14px;
  font-weight: 550;
  color: #fff;
}
.search-container{
  width: 20;
  border-radius: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  width: 100%;
}
.search-container input{
  flex: 1
}
.search-container button{
  background-color: var(--primary-color--);
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px
}
.search-container.search-container--color{
  background-color: #fff;
}
.page-redirect__list{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 5px 0;
}
.page-redirect__item{
  cursor: pointer;
}
.page-redirect__item{
  cursor: pointer;
}
.page-redirect__item:hover{
  text-decoration: underline;
}
