<div class="grid wide">
    <div class="section-container">
        <div class="header-section header-section--simple">
            <div class="header-section__header">
                <div class="header-section__header__title primary-text">
                    Tìm kiếm hàng đầu
                </div>
            </div>
            <div class="header-section__content">
                <app-top-search-carousel [itemList]="topSearchProducts"></app-top-search-carousel>
            </div>
        </div>
    </div>
</div>