
<div class="header-container header-container--bg-clr d-flex-c align-items-center-c box-shadow">
    <div class="grid wide h-fit">
        <div class="row no-gutters h-fit">
            <div class="col l-12 m-12 c-12">
                <div class="d-flex-c center--space-between-flex-c h-fit">
                    <div class="d-flex-c center--center-flex-c h-fit">
                        <div class="logo h-fit d-flex-c center--center-flex-c">TOY FAIR</div>
                        <div class="type">{{pageType}}</div>
                    </div>
                    <div class="nav__right hide-on-mobile-tablet">
                        <div class="help">Bạn cần giúp đỡ?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
