.product__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
.product__item {
  width: 24%;
  height: 335px;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0.5%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px #ccc;
  position: relative;
}
.discount-flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 40px;
  border-right: 20px solid var(--primary-color--);
  border-left: 20px solid var(--primary-color--);
  border-bottom: 5px solid transparent;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.product__item:hover {
  transform: translateY(-5px);
  animation: jumpUp 100ms linear;
}
.product__item .product__item-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 55%;
  overflow: hidden;
}
.product__item .product__item-info {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
.product__item .product__item-info .product-name {
  font-size: 1.2rem;
  display: inline;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  word-wrap: break-word;
  margin: 0;
}
.product__item .product__item-info .product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__item .product__item-info .product-price,
.product__item .product__item-info .product-price .product-price__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-price__source {
  text-decoration: line-through;
  color: #ccc;
  font-size: 1.2rem;
}
.product-price__cur {
  color: var(--primary-color--);
  margin: 0 5px;
  font-size: 1.6rem;
}
.product__item .product__item-thumbnail img {
  width: 100%;
  object-fit: cover;
}
.product__item.product__item--bg-color {
  background-color: #fff;
}
.buyed-product {
  font-size: 1.2rem;
}
.place {
  font-size: 1.2rem;
}
.category-product{
  font-size: 1.2rem;
}
.category-product span{
  font-size: 1.2rem;
  color: var(--primary-color--);
}
@keyframes jumpUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
