/*----------------------------------------*/
/* 6.11 Li's Shop Page
/*----------------------------------------*/
.sidebar-categores-box {
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  box-shadow: none;
  margin-bottom: 30px;
  padding: 22.1px 15px 28px;
}
.sidebar-title {
  border-bottom: 1px solid #e1e1e1;
}
.sidebar-title h2 {
  color: #242424;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.btn-clear-all {
  background: #dddddd none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  margin-top: 30px;
}
.btn-clear-all::before {
  content: "\f00d";
  font-family: "fontawesome";
  margin-right: 15px;
}
.btn-clear-all:hover {
  background: #242424 none repeat scroll 0 0;
  color: #fff;
}
.category-sub-menu ul li ul {
  display: none;
  margin-top: 10px;
}
.category-sub-menu ul li {
  padding-top: 10px;
  transition: all 0.3s ease-in-out;
}
.category-sub-menu ul li:hover a {
  color: #fed700;
}
.category-sub-menu ul li:first-child {
  padding-top: 16px;
}
.category-sub-menu li.has-sub > a {
  color: #242424;
  cursor: pointer;
  display: block;
  line-height: 20px;
  position: relative;
}
.category-sub-menu li.has-sub li a {
  border: 0 none;
  display: block;
  font-size: 14px;
  padding: 0 10px;
  color: #333;
}
.category-sub-menu li.has-sub li a:hover {
  color: #fed700;
}
.category-sub-menu li.has-sub > a::after {
  color: #242424;
  content: "\f067";
  font-family: fontawesome;
  font-size: 16px;
  position: absolute;
  right: 5px;
}
.category-sub-menu li.has-sub.open > a::after {
  content: "\f068";
}
.sidebar-categores-box .filter-sub-area h5 {
  color: #2f333a;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 30px 0 10px;
  padding: 0 0 10px;
  position: relative;
  text-transform: uppercase;
}
.price-checkbox li, .size-checkbox li, .color-categoriy ul li, .categori-checkbox ul li {
  margin: 8px 0;
}
.price-checkbox li a,.size-checkbox li a,.color-categoriy ul li a,.categori-checkbox ul li a {
  color: #363f4d;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 0;
}
.price-checkbox input, .size-checkbox input, .categori-checkbox input {
  width: auto !important;
  height: auto !important;
}
.price-checkbox li a:hover {
  color: #EB3E32;
}
.color-categoriy ul li span {
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  height: 15px;
  margin-top: 5px;
  width: 15px;
}
.color-categoriy ul li span.white {
  background: #ffffff;
}
.color-categoriy ul li span.black {
  background: #333;
}
.color-categoriy ul li span.Orange {
  background: #F39C11;
}
.color-categoriy ul li span.Blue  {
  background: #5D9CEC;
}
.color-categoriy li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.shop-top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.shop-bar-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 479px) {
  .shop-bar-inner {
    margin-bottom: 10px;
  }
  .product-short .nice-select {
    margin-bottom: 5px;
  }
}
.shop-item-filter-list li a {
  color: #aaa;
  font-size: 20px;
  padding-right: 15px;
}
.shop-item-filter-list li a.active, .shop-item-filter-list li a:hover {
  color: #242424;
}
.shop-item-filter-list li a.active {
  color: #242424;
}
.toolbar-amount {
  width: 650px;
  font-size: 14px;
  margin-left: 100px;
  margin-top: 5px;
}
.product-short {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product-short > p {
  font-size: 14px;
  margin: 5px 10px 0 0;
}
.single-banner img {
  width: 100%;
}
.product-short .nice-select {
  border-radius: 0;
  color: #242424;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 320px;
  z-index: 999;
}
@media only screen and (max-width: 767px) {
  .product-short .nice-select {
    width: 180px;
  }
}
.product-short .nice-select .list {
  border-radius: 0px;
  width: 100%;
  z-index: 99;
}
.shop-top-bar {
  padding: 15px;
  border: 1px solid #ededed;
}
.container-ful{
  display: flex;
}
#reponsive-lap-product{
  flex: 10;
  margin-right: 30px;
  margin-left: 30px;
}
#reponsive-phone{
  display: none;
}
#reponsive-lap-sibar{
  float: left;
  flex: 2;
  padding-left: 100px;
;
}
@media only screen and (max-width: 767px) {
  #reponsive-phone{
    display: inline;
  }
  #reponsive-lap-sibar{
    display: none;
  }
  #toolbar-amount-reponsive{
    display: none;
  }
  #sort-by-reponsive{
    width: 52px;
  }
}
