
<div class="container-ful">
  <div class="header">
    <div class="header__product">
      <img class="header__product__bg" src="assets/images/HOL21_EDD_Phase4_hero-banner_short_desktop_1500x150.jpg">
      <div class="header__product__show">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" >
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <ul>
                <li *ngFor="let logo of logos">
                  <a class="header__product__show__link" href="#">
                    <img class="header__product__show__logo" src="assets/images/logo111.png">
                  </a>
                </li>
              </ul>
            </div>
            <div class="carousel-item">
              <ul>
                <li *ngFor="let logo of logos">
                  <a class="header__product__show__link" href="#">
                    <img class="header__product__show__logo" src="assets/images/logo111.png">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="sort sort-buy">
    <span>Sort Buy :</span>
    <select class="sort__list">
      <option class="sort__content">1</option>
      <option class="sort__content">2</option>
      <option class="sort__content">3</option>
      <option class="sort__content">4</option>
    </select>
  </div>

  <div class="container-ful">
    <div class="body__center">
      <div class="body__center__left">
        <div class="body__center__left__head">
          <h3 class="body__center__left__title">Departments</h3>
          <div class="body__center__left__list">
            <h4 class="body__center__left__title__one">Clear</h4>
            <li *ngFor="let dpm of departments">
              <input class="body__center__left__check" type="checkbox"> {{dpm.valueOf()}}
            </li>
          </div>
        </div>
        <div class="body__center__left__head">
          <h3 class="body__center__left__title">Price</h3>
          <div class="body__center__left__list">
            <h4 class="body__center__left__title__one"></h4>
            <li *ngFor="let price of prices">
              <a href="#">{{price.valueOf()}}</a>
            </li>
          </div>
        </div>
        <div class="body__center__left__head">
          <h3 class="body__center__left__title">Discount</h3>
          <div class="body__center__left__list">
            <h4 class="body__center__left__title__one"></h4>
            <li *ngFor="let discount of discounts">
              <a href="#">{{discount.valueOf()}}</a>
            </li>
          </div>
        </div>
      </div>
      <div class="body__center_main">
        <div class="body__center_main__product" *ngFor="let product of products">
          <div class="body__center_main__product__image">
            <a><img src="assets/images/41YlQkSRftL.jpg" width="300" height="200"></a>
          </div>
          <div class="body__center_main__product__content">
            <div class="body__center_main__product__content__price">
             <span>99.99<sub>$</sub></span>
            </div>
            <div class="body__center_main__product__content__name">
              <span>Kindle Monthly Deals</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
