<div class="banners">
    <div class="grid wide">
        <div class="row sm-gutters">
            <div class="col l-8 c-12">
                <div class="full-home-banners-wrapper">
                    <app-banner-carousel [itemList]="[1,1,1,1]" [carouselDotsActive]="true">
                    </app-banner-carousel>
                </div>
            </div>
            <div class="col l-4 c-12">
                <div class="full-home-banners-wrapper">
                    <div class="h-fit row dir-col sm-gutters dir-row-on-mobile">
                        <a href="" class="col l-6 c-6">
                            <img
                                class="h-fit w-fit"
                                src="https://cf.shopee.vn/file/e02b636a1839e01df2ecdef3bbf45a0f_xxhdpi"
                                alt="">
                        </a>
                        <a href="" class="col l-6 c-6">
                            <img
                                class="h-fit w-fit"
                                src="https://cf.shopee.vn/file/e02b636a1839e01df2ecdef3bbf45a0f_xxhdpi"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>