<ng-template #aProduct>
  <div class="single-tranding">
    <mat-card class="card-custom">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
      <div class="card-custom--detail-product-title">Product name</div>
      <div class="justity-space">
        <mat-card-subtitle><b>SKU:</b> 1112302312 </mat-card-subtitle>
        <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">favorite_border</mat-icon>
      </div>
      <div class="justity-space">
        <div id="full-stars-example-two">
          <div class="rating-group">
            <input checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0"
              type="radio">
            <label aria-label="1 star" class="rating__label" for="rating3-1"><i
                class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
            <label aria-label="2 stars" class="rating__label" for="rating3-2"><i
                class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
            <label aria-label="3 stars" class="rating__label" for="rating3-3"><i
                class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
            <label aria-label="4 stars" class="rating__label" for="rating3-4"><i
                class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
            <label aria-label="5 stars" class="rating__label" for="rating3-5"><i
                class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
          </div>
        </div>
      </div>
      <div class="price-label justity-space">
        <div class="price-label--price"><span>{{200000 | currency: "VND"}}</span></div>
        <div class="price-label--unit">{{400000 | currency: "VND"}}</div>
      </div>
      <mat-card-actions class="mat-card-actions-custom">
        <div class="mat-card-actions-custom--buy-now">
          <button mat-raised-button color="warn">Mua ngay</button>
        </div>
        <div class="mat-card-actions-custom--buy-now">
          <button mat-raised-button class="mat-card-actions-custom--icon">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
        <div class="mat-card-actions-custom--buy-now">
          <button mat-raised-button class="mat-card-actions-custom--icon">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
<ng-template #bProduct>
  <div class="single-tranding">
    <mat-card class="card-custom">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <div [routerLink]="['/product/:id']" class="card-custom--detail-product-title">Product name</div>
      <div class="justity-space">
        <mat-card-subtitle><b>SKU:</b> 1112302312 </mat-card-subtitle>
        <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">favorite_border</mat-icon>
      </div>
      <div class="price-label justity-space">
        <div class="price-label--price"><span>{{200000 | currency: "VND"}}</span></div>
        <div class="price-label--unit">{{400000 | currency: "VND"}}</div>
      </div>
      <mat-card-actions class="mat-card-actions-custom">
        <div class="mat-card-actions-custom--buy-now">
          <button mat-raised-button color="warn" [routerLink]="['/checkout']">Mua ngay</button>
        </div>
        <div class="mat-card-actions-custom--buy-now">
          <button mat-raised-button class="mat-card-actions-custom--icon">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
        <div class="mat-card-actions-custom--buy-now">
          <button mat-raised-button class="mat-card-actions-custom--icon">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>

<ng-template #hightLightCategoryTmpl>
  <mat-card class="card-custom">
    <img mat-card-image src="https://u6wdnj9wggobj.vcdn.cloud/media/wysiwyg/homepage/danh-muc-1.jpg"
      alt="Photo of a Shiba Inu">
    <span class="card-custom--category-title">Tên danh mục</span>
  </mat-card>
</ng-template>
<!--------------------------------------->
<!--Tranding product-->
<section class="pt-30 pb-30">
  <div class="container carousel" id="discountCarousel" data-ride="carousel">
    <div class="row">
      <div class="col text-center">
        <div class="section-title">
          <h2>GIẢM GIÁ ĐẶC BIỆT</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="carousel-inner carousel-inner-custom">
        <ng-container *ngFor="let product of products; index as idx, first as fst">
          <ng-container *ngIf="fst; else noneActive">
            <div class="item active">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="aProduct"></ng-container>
              </div>
            </div>
          </ng-container>
          <ng-template #noneActive>
            <div class="item">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="bProduct"></ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control carousel-control-custom" href="#discountCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-control-custom" href="#discountCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="pt-30 pb-30 gray-bg">
  <div class="container carousel" id="discountCarousel" data-ride="carousel">
    <div class="row">
      <div class="col text-center">
        <div class="section-title">
          <h2>ĐÁNH GIÁ CAO</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="carousel-inner carousel-inner-custom">
        <ng-container *ngFor="let product of products; index as idx, first as fst">
          <ng-container *ngIf="fst; else noneActive">
            <div class="item active">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="aProduct"></ng-container>
              </div>
            </div>
          </ng-container>
          <ng-template #noneActive>
            <div class="item">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="bProduct"></ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control carousel-control-custom" href="#discountCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-control-custom" href="#discountCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="pt-30 pb-30">
  <div class="container carousel" id="discountCarousel" data-ride="carousel">
    <div class="row">
      <div class="col text-center">
        <div class="section-title">
          <h2>MUA NHIỀU</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="carousel-inner carousel-inner-custom">
        <ng-container *ngFor="let product of products; index as idx, first as fst">
          <ng-container *ngIf="fst; else noneActive">
            <div class="item active">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="aProduct"></ng-container>
              </div>
            </div>
          </ng-container>
          <ng-template #noneActive>
            <div class="item">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="bProduct"></ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control carousel-control-custom" href="#discountCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-control-custom" href="#discountCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- new product -->
<section class="pt-30 pb-30 gray-bg">
  <div class="container carousel" id="discountCarousel" data-ride="carousel">
    <div class="row">
      <div class="col text-center">
        <div class="section-title">
          <h2>MỚI NHẤT</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="carousel-inner carousel-inner-custom">
        <ng-container *ngFor="let product of products; index as idx, first as fst">
          <ng-container *ngIf="fst; else noneActive">
            <div class="item active">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="aProduct"></ng-container>
              </div>
            </div>
          </ng-container>
          <ng-template #noneActive>
            <div class="item">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="bProduct"></ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control carousel-control-custom" href="#discountCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-control-custom" href="#discountCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="viewingmore" style="display: flex; justify-content: center">

      <a href="#viewmore" style="font-size: large; text-decoration: underline"><strong>View more</strong></a>

  </div>
</section>
<!--Features area-->
<section class="features-area pt-60 pb-60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section-title">
          <h2>DANH MỤC ĐỒ CHƠI NỔI BẬT</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 p-0px">
        <div class="single-tranding">
          <ng-container [ngTemplateOutlet]="hightLightCategoryTmpl"></ng-container>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 p-0px">
        <div class="single-tranding">
          <ng-container [ngTemplateOutlet]="hightLightCategoryTmpl"></ng-container>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 p-0px">
        <div class="single-tranding">
          <ng-container [ngTemplateOutlet]="hightLightCategoryTmpl"></ng-container>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 p-0px">
        <div class="single-tranding">
          <ng-container [ngTemplateOutlet]="hightLightCategoryTmpl"></ng-container>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 p-0px">
        <div class="single-tranding">
          <ng-container [ngTemplateOutlet]="hightLightCategoryTmpl"></ng-container>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 p-0px">
        <div class="single-tranding">
          <ng-container [ngTemplateOutlet]="hightLightCategoryTmpl"></ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="container carousel" id="categoryCarouseFirst" data-ride="carousel">
    <div class="row">
      <div class="col text-left">
        <div class="section-title">
          <div class="detail-category-label">
            <h2>Đồ chơi lắp ráp</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="carousel-inner carousel-inner-custom">
        <ng-container *ngFor="let product of products; index as idx, first as fst">
          <ng-container *ngIf="fst; else noneActive">
            <div class="item active">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="aProduct"></ng-container>
              </div>
            </div>
          </ng-container>
          <ng-template #noneActive>
            <div class="item">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let p of product">
                <ng-container [ngTemplateOutlet]="bProduct"></ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control carousel-control-custom" href="#categoryCarouseFirst" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-control-custom" href="#categoryCarouseFirst" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>
<!--Features area-->

<!--Other product-->


<!--shipping area start-->
<section class="shipping_area">
  <div class="container">
    <div class=" row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="single_shipping">
          <div class="shipping_icone">
            <img src="assets/template/customer/img/about/shipping1.png" alt="">
          </div>
          <div class="shipping_content">
            <h2>Free Shipping</h2>
            <p>Free shipping on all US order</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="single_shipping">
          <div class="shipping_icone">
            <img src="assets/template/customer/img/about/shipping2.png" alt="">
          </div>
          <div class="shipping_content">
            <h2>Support 24/7</h2>
            <p>Contact us 24 hours a day</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="single_shipping">
          <div class="shipping_icone">
            <img src="assets/template/customer/img/about/shipping3.png" alt="">
          </div>
          <div class="shipping_content">
            <h2>100% Money Back</h2>
            <p>You have 30 days to Return</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="single_shipping">
          <div class="shipping_icone">
            <img src="assets/template/customer/img/about/shipping4.png" alt="">
          </div>
          <div class="shipping_content">
            <h2>Payment Secure</h2>
            <p>We ensure secure payment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--shipping area end-->

<!-- JS ============================================ -->
<!-- Plugins JS -->
<script src="assets/template/customer/js/plugins.js"></script>
<!-- Main JS -->
<script src="assets/template/customer/js/main.js"></script>
