<div class="container">
  <div class="filter-container">
    <app-product-filter [products$]="products$"></app-product-filter>
  </div>
  <div class="product-container">
    <ng-container *ngIf="shops$ | async as shops">
      <div class="search-result-label">
        Shop liên quan đến: <span>{{ searchShopValue }}</span>
      </div>
      <li class="product-detail__item shop-info-container" *ngFor="let shop of shops" (click)="navigateToShop(shop.id)">
        <div class="shop-info-container__left">
            <div class="shop-inf">
                <div class="stop-avatar">
                    <img src="assets/img/product/3.png" alt="">
                </div>
                <div class="shop-more">
                    <div class="shop-name">{{shop.name}}</div>
                    <div class="shop-active">
                        <button mat-raised-button style="margin-right:
                            20px">Chat ngay</button>
                        <button style="background-color:
                            var(--primary-color--); color: #fff"mat-raised-button>Xem
                            shop</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-info-container__right">
            <div class="d-flex justify-content-around align-item-center">
                <div class="shop-tag">
                    Đánh giá <span>3.3k</span>
                </div>
                <div class="shop-tag">
                    Người theo dõi<span>2.5k</span>
                </div>
                <div class="shop-tag">
                    Số sản phẩm <span>11</span>
                </div>
            </div>
            <div class="d-flex justify-content-between align-item-center">
                <div class="shop-tag">
                    Tỉ lệ phản hồi <span>100%</span>
                </div>
                <div class="shop-tag">
                    Tham gia <span>13 tháng trước</span>
                </div>
                <div class="shop-tag">
                    Thời gian phản hồi <span>Trong vài phút</span>
                </div>
            </div>
        </div>
    </li>
    </ng-container>
    <ng-container *ngIf="productFilterChainService.filter$ | async as filter">
      <div class="search-result-label" *ngIf="filter.name">
        <mat-icon>spa</mat-icon>
        Kết quả tìm kiếm cho từ khóa: <span>{{ filter.name }}</span>
      </div>
    </ng-container>
    <div class="product-sort-container product-sort-container--bg-color">
      <span class="product-sort__label">Sắp xếp theo</span>
      <div class="product-sort__action">
        <button class="btn--primary-color" (click)="onClickLastedProducts()">
          Mới nhất
        </button>
        <button class="btn--primary-color">Bán chạy</button>
        <div class="product-sort__action-select">
          <mat-form-field>
            <mat-label style="color: var(--primary-color--)"
              >Sắp xếp theo...</mat-label
            >
            <mat-select
              [(ngModel)]="selectedSort"
              (selectionChange)="onChangeSorter($event)"
            >
              <mat-option *ngFor="let o of sortSelections" [value]="o.sort">
                {{ o.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="product-sort__paging">
        <div class="product-sort__paging-label"><span>1</span>/10</div>
        <div class="product-sort__paging-action">
          <button><mat-icon>keyboard_arrow_left</mat-icon></button>
          <button><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="product-list-container">
      <app-product-list
        [products$]="products$"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
      ></app-product-list>
    </div>
  </div>
</div>
