.body {
  position: relative;
  font-size: 20px;
  background-color: rgb(225,152,75)
;
}
ul.nav-pills {
  top: 20px;
  position: fixed;
}
.container-ful{
  border: 2px solid #eaeaf3;
  background-color: rgba(239, 238, 238, 0.56);
}
#myScrollspy{
  li{
    margin-left: 25px;
  }


}
#section{
  height: 60px;

}
#section1{
  height: 600px;
  margin-bottom: 10px;
  border: rgba(169, 167, 167, 0.46) solid 1px;
  background-color: white;
  margin-top: 15px;
  margin-right: 10%;
  h1{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    color: #ef741c;
  }
}
.form-group{
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 67px;
  height: 215px!important;
  .label-image{
    position: absolute;
    margin-bottom: 20px;
    font-size: 14px;
  }
  li{
    margin-right: 5px;
    margin-top: 15px;
    float: left;
  }
}
.form-group2{
  height: 100px!important;
  label{
    float: left;
    margin-left: 70px;
    font-size: 15px;
  }
  p{
    font-size: 15px;
    margin-left: 5px;
  }
  .form-control{
    width: 65%;
    float: right;
    margin-right: 205px;
    font-size: 13px;
  }
}
#img-preview1,#img-preview2,#img-preview3,#img-preview4,#img-preview5,#img-preview6 {
  display: none;
  width: 155px;
  height: 90px;
  border: 2px solid #333;
  margin-bottom: 18px;
}
#img-preview1 img {
  width: 155px;
  height: 90px;
  display: block;
}
li{
  list-style: none;
}
[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}
[type="file"] + label {
  font-family: sans-serif;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  width: 155px;
  height: 90px;
  border: 1px solid gray;
  margin-top: 20px;
  text-align: center;
  text-align-all: center;
  p{
    margin-top: 22px;
    font-size: 20px;}
}
[type="file"] + label:hover {
  background-color: #f6e9e9;
  color: #f44336;
}
#section2{
  height: 350px;
  border: rgba(169, 167, 167, 0.46) solid 1px;
  margin-bottom: 10px;
  background-color: white;
  margin-right: 10%;
  h1{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    color: #ef741c;
  }
  p{
    font-size: 13px;
    margin-left: 20px;
  }
    .form-group{
      li{
        label{
          float: left;
          font-size: 14px!important;
        }
        select{
          float: right;
          height: 34px;
          width: 78%!important;
        }
      }
  }
}
#section3{
  height: 360px;
  border: rgba(169, 167, 167, 0.46) solid 1px;
  margin-bottom: 10px;
  background-color: white;
  margin-right: 10%;
  h1{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    color: #ef741c;
  }
    .form-group {
      li {
        label {
          float: left;
          text-align: end;
          margin-left: -112px;
          font-size: 14px;
        }

        .form-control {
          float: right;
          height: 34px;
          margin-right: 190px;
        }
      }
    }
}
#section4{
  border: rgba(169, 167, 167, 0.46) solid 1px;
  height: 270px;
  margin-bottom: 10px;
  background-color: white;
  margin-right: 10%;
  h1{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    color: #ef741c;
  }
    .form-group {
      li {
        label {
          float: left;
          text-align: end;
          margin-left: -18px;
          font-size: 15px;
        }

        .form-control {
          float: right;
          height: 34px;
          margin-right: 190px;
        }
        .input-group{
          float: left;
          width: 175px;
          margin-right: 10px;
          .form-control{
            margin-right: 0px;
          }
          .input-group-prepend{
            .input-group-text{

            }
          }
        }
      }
  }
}
.action_button{
  margin-top: 20px;
  padding-bottom: 50px;
  margin-right: 167px;
  button{
    float: right;
    margin-right: 30px;
    padding: 5px;
    font-size: 18px;
  }
}
