
.fixed-container button:nth-child(1)
{
  background-color: #fff;
  color: unset
}

.fixed-container.container {
  margin: 0
}

.fixed-container button {
  margin: 0 10px
}

@mixin section-all() {
  border: rgba(169, 167, 167, 0.46) solid 1px;
  margin-bottom: 10px;
  background-color: white;
  margin-right: 10%;
}

@mixin section-h1-all() {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
}

@mixin section-lable-all() {
  float: left;
  text-align: end;
  font-size: 15px;
}

@mixin section-form-control-all() {
  float: right;
  height: 34px;
  margin-right: 190px;
  font-size: 13px;
}

.body {
  position: relative;
  font-size: 20px;
  background-color: rgb(225, 152, 75);
}

ul.nav-pills {
  top: 12%;
  position: fixed;
}

.nav-item-custom {
  font-size: 15px
}

.nav-item-custom:first-child {
  /* background-color: var(--sub-color--);
  border-radius: 4px; */
}

.nav-item-custom:focus {
  background-color: var(--sub-color--);
  border-radius: 4px;
  color: var(--text-color--)
}

/* .nav-item-custom:focus~:first-child {
  background-color: blue !important;
  border-radius: 4px;
} */


.container-full {
  padding-bottom: 30px
}

.fixed-bottom {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 20px 0px #ccc;
  padding: 10px 0;
  animation: fadeIn ease 0.5s
}

#myScrollspy {
  margin-right: -30px;
  margin-left: 30px;

  li {
    margin-left: 25px;
  }
}

.section {
  padding: 40px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0px #ccc
}

#section {
  height: 60px;
}

#product-info-form h1 {
  font-weight: 500;
}

#section1 {
  padding: 20px;
  height: 600px;
  margin-bottom: 10px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }
}

.form-group {
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 67px;
  height: 215px !important;

  .label-image {
    position: absolute;
    margin-bottom: 20px;
    font-size: 14px;
  }

  li {
    margin-right: 5px;
    margin-top: 15px;
    float: left;
  }
}

.form-group2 {
  height: 100px !important;

  label {
    float: left;
    margin-left: 70px;
    font-size: 15px;

    span {
      font-weight: 400;
      color: var(--primary-color--)
    }
  }

  p {
    font-size: 15px;
    margin-left: 5px;
  }

  .form-control {
    width: 64%;
    float: right;
    margin-right: 205px;
    font-size: 13px;
  }
}

#img-preview1,
#img-preview2,
#img-preview3,
#img-preview4,
#img-preview5,
#img-preview6 {
  display: none;
  width: 155px;
  height: 90px;
  border: 2px solid #333;
  margin-bottom: 18px;
}

#img-preview1 img {
  width: 155px;
  height: 90px;
  display: block;
}

li {
  list-style: none;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

[type="file"]+label {
  font-family: sans-serif;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  width: 155px;
  height: 90px;
  border: 1px dashed var(--primary-color--);
  margin-top: 20px;
  text-align: center;
  text-align-all: center;

  p {
    margin-top: 22px;
    font-size: 20px;
  }
}

[type="file"]+label:hover {
  background-color: #f6e9e9;
  color: #f44336;
}

#section2 {
  height: 350px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }

  p {
    font-size: 13px;
    margin-left: 20px;
  }

  .form-group {
    li {
      display: flex;
      margin-left: 5%;

      label {
        float: left;
        flex: 1;
        font-size: 14px !important;
      }

      div {
        flex: 3;

        mat-form-field {
          mat-select {
            margin-top: -10%;
            font-size: 15px;
          }
        }
      }
    }
  }
}

#section3 {
  height: 360px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }

  .form-group {
    li {
      display: flex;

      label {
        flex: 1;
        @include section-lable-all();
        margin-right: 120px;
        margin-left: -95px;
      }

      .form-control {
        flex: 2;
        @include section-form-control-all();

        option {
          font-size: 14px;
        }
      }
    }

    .sale {
      display: flex;

      label {
        flex: 1;
        top: 3px;
      }

      input {
        flex: 1;
      }
    }
  }
}

#section4 {
  height: 270px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }

  .form-group {
    li {
      label {
        margin-left: -18px;
        @include section-lable-all();
      }

      .form-control {
        @include section-form-control-all();
      }

      .input-group {
        float: left;
        width: 175px;
        margin-right: 10px;

        .form-control {
          margin-right: 0px;
        }

        .input-group-prepend {
          .input-group-text {}
        }
      }
    }
  }
}

.lable-group {
  font-weight: 600;
  color: #0c0c0cb0;
}

.lable-group2 {
  font-weight: 600;
  color: #0c0c0cb0;
  margin-top: 2%;
}

.action_button {
  margin-top: 20px;
  padding-bottom: 50px;
  margin-right: 167px;

  button {
    width: 9%;
    float: right;
    margin-right: 30px;
    padding: 5px;
    font-size: 15px;
  }
}


.form-notification {
  position: fixed;
  margin: auto;
  background-color: rgb(255 231 188 / 45%);
  width: 400px;
  height: 180px;
  top: 20%;
  left: 36%;
  display: none;

  form {
    font-size: 15px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30%;

    label {
      width: 100%;
      margin-bottom: 10%;
    }

    button {
      width: 30%;
      height: 30px;
      margin-right: 3%;
      margin-left: 6%;
    }
  }
}
.submit-btn{
  background-color: var(--primary-color--);
  color: #fff
}
.submit-btn:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}