<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
  <div class=" container-full" id="container-product">
    <div class="row">
      <nav class="col-sm-2 col-4" id="myScrollspy">
        <ul #navUl class="nav nav-pills flex-column">
          <li #navItem (click)="scrollTo(fieldGroup['fieldName'], navUl)" class="nav-item-custom"
            *ngFor="let fieldGroup of fieldGroups; index as i" [tabindex]="i">
            <a class="">{{fieldGroup['label']}}</a>
          </li>
        </ul>
      </nav>
      <div class="col-sm-10 col-8">
        <form (ngSubmit)="onSubmit()" id="product-info-form" [formGroup]="form">
          <ng-container *ngFor="let fieldGroup of fieldGroups">
            <fieldset [formGroupName]="fieldGroup['fieldName']">
              <div [id]="fieldGroup['fieldName']" class="section">
                <h1>{{fieldGroup['label']}}</h1>
                <div *ngIf="fieldGroup.fieldName as fn">
                  <ng-container *ngFor="let f of productFieldsGroup[fn]">
                    <field-builder [field]="f" [form]="form.get(fn)"></field-builder>
                  </ng-container>
                </div>
              </div>
            </fieldset>
          </ng-container>
          <div id="fixed-container" class="fixed-container">
            <div class="container d-flex justify-content-end">
              <button mat-raised-button>Huỷ</button>
              <button mat-raised-button>Lưu & Ẩn</button>
              <button [disabled]="form.invalid? true: false" type="submit" mat-raised-button>Lưu và hiển thị</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="form-notification" id="notification">
    <form>
      <label>
        Sản phẩm được thêm thành công !
      </label>
      <button class="btn btn-danger" [routerLink]="['/seller/product-management']">Trở về</button>
      <button class="btn btn-primary" [routerLink]="['/seller/category']">Thêm sản phẩm khác</button>
    </form>
  </div>
</body>
