@mixin section-all() {
  border: rgba(169, 167, 167, 0.46) solid 1px;
  margin-bottom: 10px;
  background-color: white;
  margin-right: 10%;
}

@mixin section-h1-all() {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  color: #ef741c;
}

@mixin section-lable-all() {
  float: left;
  text-align: end;
  font-size: 15px;
}

@mixin section-form-control-all() {
  float: right;
  height: 34px;
  margin-right: 190px;
  font-size: 13px;
}

.body {
  position: relative;
  font-size: 20px;
  background-color: rgb(225, 152, 75);
}

ul.nav-pills {
  top: 12%;
  position: fixed;
}

.container-ful {
  border: 2px solid #eaeaf3;
  background-color: rgba(239, 238, 238, 0.56);
}

#myScrollspy {
  margin-right: -30px;
  margin-left: 30px;

  li {
    margin-left: 25px;
  }
}

#section {
  height: 60px;

}

#section1 {
  height: 600px;
  margin-bottom: 10px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }
}

.form-group {
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 67px;
  height: 215px !important;

  .label-image {
    position: absolute;
    margin-bottom: 20px;
    font-size: 14px;
  }

  li {
    margin-right: 5px;
    margin-top: 15px;
    float: left;
  }
}

.form-group2 {
  height: 100px !important;

  label {
    float: left;
    margin-left: 70px;
    font-size: 15px;

    span {
      font-weight: 400;
      color: var(--primary-color)
    }
  }

  p {
    font-size: 15px;
    margin-left: 5px;
  }

  .form-control {
    width: 64%;
    float: right;
    margin-right: 205px;
    font-size: 13px;
  }
}

#img-preview1,
#img-preview2,
#img-preview3,
#img-preview4,
#img-preview5,
#img-preview6 {
  display: none;
  width: 155px;
  height: 90px;
  border: 2px solid #333;
  margin-bottom: 18px;
}

#img-preview1 img {
  width: 155px;
  height: 90px;
  display: block;
}

li {
  list-style: none;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

[type="file"]+label {
  font-family: sans-serif;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  width: 155px;
  height: 90px;
  border: 1px solid gray;
  margin-top: 20px;
  text-align: center;
  text-align-all: center;

  p {
    margin-top: 22px;
    font-size: 20px;
  }
}

[type="file"]+label:hover {
  background-color: #f6e9e9;
  color: #f44336;
}

#section2 {
  height: 350px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }

  p {
    font-size: 13px;
    margin-left: 20px;
  }

  .form-group {
    li {
      label {
        float: left;
        font-size: 14px !important;
      }

      select {
        float: right;
        height: 34px;
        width: 78% !important;
        font-size: 13px;
      }
    }
  }
}

#section3 {
  height: 360px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }

  .form-group {
    li {
      label {
        @include section-lable-all();
        margin-left: -112px;
      }

      .form-control {
        @include section-form-control-all();

        option {
          font-size: 14px;
        }
      }
    }
  }
}

#section4 {
  height: 270px;
  @include section-all();

  h1 {
    @include section-h1-all();
  }

  .form-group {
    li {
      label {
        margin-left: -18px;
        @include section-lable-all();
      }

      .form-control {
        @include section-form-control-all();
      }

      .input-group {
        float: left;
        width: 175px;
        margin-right: 10px;

        .form-control {
          margin-right: 0px;
        }

        .input-group-prepend {
          .input-group-text {}
        }
      }
    }
  }
}
.lable-group{
  font-weight: 600;
  color: #0c0c0cb0;
}
.action_button {
  margin-top: 20px;
  padding-bottom: 50px;
  margin-right: 167px;

  button {
    width: 9%;
    float: right;
    margin-right: 30px;
    padding: 5px;
    font-size: 15px;
  }
}


.form-notification{
  position: fixed;
  margin: auto;
  background-color:rgb(255 231 188 / 45%);
  width: 400px;
  height: 180px;
  top:20%;
  left:36%;
  display:none;
  form{
    font-size: 15px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
    label{
      width: 100%;
      margin-bottom: 10%;
    }
    button{
      width: 30%;
      height: 30px;
      margin-right: 3%;
      margin-left: 6%;
    }
  }
}
