<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
  <div class="container-ful" id="container-product">
    <div class="row">
      <nav class="col-sm-2 col-4" id="myScrollspy">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link " href="#section1">Thông tin cơ bản</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section2">Thông tin chi tiết</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section3">Thông tin bán hàng</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#section4">Vận chuyển</a>
          </li>
        </ul>
      </nav>
      <div class="col-sm-10 col-8">
        <form id="product-info-form" [formGroup]="form">
          <ng-container *ngFor="let fieldGroup of fieldGroups">
            <fieldset [formGroupName]="fieldGroup['fieldName']">
              <div class="section">
                <h1>{{fieldGroup['label']}}</h1>
                <div *ngIf="fieldGroup.fieldName as fn">
                  <ng-container *ngFor="let f of productFieldsGroup[fn]">
                    <field-builder [field]="f" [form]="form.get(fn)"></field-builder>
                  </ng-container>
                </div>
              </div>
            </fieldset>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
  <div class="form-notification" id="notification">
    <form>
      <label>
        Sản phẩm được thêm thành công !
      </label>
      <button class="btn btn-danger" [routerLink]="['/seller/product-management']">Trở về</button>
      <button class="btn btn-primary" [routerLink]="['/seller/category']">Thêm sản phẩm khác</button>
    </form>
  </div>
</body>
