<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
<h2 style="color: rgba(0,0,0,.8);margin-left: 200px ;">Shop liên quan đến </h2>
<article class="dad">
  <div class="container">
    <div class="right">
      <div class="right-image"></div>
      <div class="right-container">
        <div class="user-name">Thiết bị Ảnh Emailypro</div>
        <div class="user-follow">emailypro</div>
        <div class="user-follow">
          <span>47</span>
          <span>&ensp;Người Theo Dõi</span>
          <span>|</span>
          <span>0</span>
          <span>&ensp;Đang Theo</span>
        </div>
      </div>

    </div>
    <div class="center">
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/shirt-solid.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Sản Phẩm</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/star-solid.svg">
              <span>76%</span>
            </div>
          </div>
          <div class="product-bottom">Đánh Giá</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/rocketchat-brands.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Tỉ lệ phản hồi</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/clock-solid.svg">
              <span>trong vài giờ</span>
            </div>
          </div>
          <div class="product-bottom">thời gian phản hồi</div>
        </div>

      </div>


    </div>
    <div class="left">
      <button type="button" class="left-item"> Xem Shop</button>
      <button type="button" class="left-item"> Theo Dõi</button>

    </div>


  </div>
</article>
<article class="dad">
  <div class="container">
    <div class="right">
      <div class="right-image"></div>
      <div class="right-container">
        <div class="user-name">Thiết bị Ảnh Emailypro</div>
        <div class="user-follow">emailypro</div>
        <div class="user-follow">
          <span>47</span>
          <span>&ensp;Người Theo Dõi</span>
          <span>|</span>
          <span>0</span>
          <span>&ensp;Đang Theo</span>
        </div>
      </div>

    </div>
    <div class="center">
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/shirt-solid.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Sản Phẩm</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/star-solid.svg">
              <span>76%</span>
            </div>
          </div>
          <div class="product-bottom">Đánh Giá</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/rocketchat-brands.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Tỉ lệ phản hồi</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/clock-solid.svg">
              <span>trong vài giờ</span>
            </div>
          </div>
          <div class="product-bottom">thời gian phản hồi</div>
        </div>

      </div>


    </div>
    <div class="left">
      <button type="button" class="left-item"> Xem Shop</button>
      <button type="button" class="left-item"> Theo Dõi</button>

    </div>


  </div>
</article>
<article class="dad">
  <div class="container">
    <div class="right">
      <div class="right-image"></div>
      <div class="right-container">
        <div class="user-name">Thiết bị Ảnh Emailypro</div>
        <div class="user-follow">emailypro</div>
        <div class="user-follow">
          <span>47</span>
          <span>&ensp;Người Theo Dõi</span>
          <span>|</span>
          <span>0</span>
          <span>&ensp;Đang Theo</span>
        </div>
      </div>

    </div>
    <div class="center">
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/shirt-solid.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Sản Phẩm</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/star-solid.svg">
              <span>76%</span>
            </div>
          </div>
          <div class="product-bottom">Đánh Giá</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/rocketchat-brands.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Tỉ lệ phản hồi</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/clock-solid.svg">
              <span>trong vài giờ</span>
            </div>
          </div>
          <div class="product-bottom">thời gian phản hồi</div>
        </div>

      </div>


    </div>
    <div class="left">
      <button type="button" class="left-item"> Xem Shop</button>
      <button type="button" class="left-item"> Theo Dõi</button>

    </div>


  </div>
</article>
<article class="dad">
  <div class="container">
    <div class="right">
      <div class="right-image"></div>
      <div class="right-container">
        <div class="user-name">Thiết bị Ảnh Emailypro</div>
        <div class="user-follow">emailypro</div>
        <div class="user-follow">
          <span>47</span>
          <span>&ensp;Người Theo Dõi</span>
          <span>|</span>
          <span>0</span>
          <span>&ensp;Đang Theo</span>
        </div>
      </div>

    </div>
    <div class="center">
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/shirt-solid.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Sản Phẩm</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/star-solid.svg">
              <span>76%</span>
            </div>
          </div>
          <div class="product-bottom">Đánh Giá</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/rocketchat-brands.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Tỉ lệ phản hồi</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/clock-solid.svg">
              <span>trong vài giờ</span>
            </div>
          </div>
          <div class="product-bottom">thời gian phản hồi</div>
        </div>

      </div>


    </div>
    <div class="left">
      <button type="button" class="left-item"> Xem Shop</button>
      <button type="button" class="left-item"> Theo Dõi</button>

    </div>


  </div>
</article>
<article class="dad">
  <div class="container">
    <div class="right">
      <div class="right-image"></div>
      <div class="right-container">
        <div class="user-name">Thiết bị Ảnh Emailypro</div>
        <div class="user-follow">emailypro</div>
        <div class="user-follow">
          <span>47</span>
          <span>&ensp;Người Theo Dõi</span>
          <span>|</span>
          <span>0</span>
          <span>&ensp;Đang Theo</span>
        </div>
      </div>

    </div>
    <div class="center">
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/shirt-solid.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Sản Phẩm</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/star-solid.svg">
              <span>76%</span>
            </div>
          </div>
          <div class="product-bottom">Đánh Giá</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">&nbsp;&nbsp;
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/rocketchat-brands.svg">
              <span>125</span>
            </div>
          </div>
          <div class="product-bottom"> Tỉ lệ phản hồi</div>
        </div>

      </div>
      <div class="product">
        <div class="product-border">
          <div class="product-top">
            <div class="top-item">
              <img style="color: white;width: 16px;height: 13px;margin-top: 2px;" src="/img/clock-solid.svg">
              <span>trong vài giờ</span>
            </div>
          </div>
          <div class="product-bottom">thời gian phản hồi</div>
        </div>

      </div>


    </div>
    <div class="left">
      <button type="button" class="left-item"> Xem Shop</button>
      <button type="button" class="left-item"> Theo Dõi</button>

    </div>


  </div>
</article>
</body>
</html>
