<form [formGroup]="digitalBillForm" (ngSubmit)="submitDigitalBillForm()">
    <div class="product-management">
        <div class="product-menu-head">
            <div class="main-order" style="margin: auto">
                <h4>Hóa đơn điện tử đã ký: </h4>
                <div>
                    <input type="text" class="bill-input" formControlName="encryptedHash" style="width: 100%;">
                </div>
                <h4>Nhập mã đơn hàng</h4>
                <input type="text" class="bill-input" formControlName="orderId">
                <div style="margin: 10px 0">
                    <button type="submit" mat-raised-button class="primary-btn">Gửi</button>
                </div>
            </div>
        </div>
    </div>
</form>