<div class="navbar-wrapper hide-on-mobile-tablet">
    <div class="grid wide">
        <div class="d-flex-c center--space-between-flex-c">
            <div class="h-list">
                <div class="h-item h-item--separation">
                    <a class="h-item__link text--hover"> Kênh người bán </a>
                </div>
                <div class="h-item h-item--separation">
                    <a class="h-item__link text--hover"> Trở thành người bán Toy Fair</a>
                </div>
                <div class="h-item h-item--separation hovered-notify">
                    <a class="h-item__link text--hover"> Tải ứng dụng </a>
                    <div class="popover-wrapper popover--bg-clr box-shadow">
                        <div class="download-wrapper">
                            <div class="qr__image">
                                <img src="https://as2.ftcdn.net/v2/jpg/02/96/52/89/1000_F_296528939_sQRRBO2JMjykFBKsQLfLxvAveofcmCWV.jpg"
                                    alt="" />
                            </div>
                            <div class="download-store">
                                <img src="https://deo.shopeemobile.com/shopee/shopee-appdlpage-live-vn/static/img/appleStore.0ca159be.png"
                                    alt="" />
                                <img src="https://deo.shopeemobile.com/shopee/shopee-appdlpage-live-vn/static/img/googlePlay.df026781.png"
                                    alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-item h-item--separation">
                    <a class="h-item__link text--hover d-flex-c align-items-center-c">
                        Kết nối
                    </a>
                </div>
                <ul class="h-list no-wrap">
                    <div class="h-item">
                        <div class="h-item__link text--hover">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                    </div>
                    <div class="h-item">
                        <div class="h-item__link text--hover">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="h-list no-wrap">
                <div class="h-item">
                    <div class="hovered-notify h-item__link text--hover">
                        <i class="fa-solid fa-bell"></i>
                        Thông báo
                        <div class="popover-wrapper popover--bg-clr box-shadow">
                            <div class="notification-wrapper">
                                <div class="notification__header">
                                    <span>Thông báo mới nhận</span>
                                </div>
                                <div class="notification__body">
                                    <ul class="notification-list">
                                        <li class="notification-item new">
                                            <div class="notification__image">
                                                <img src="" alt="" />
                                            </div>
                                            <div class="notification__info">
                                                <div class="notification__name">
                                                    [DEAL HOT] Khăn trùm chống nắng chống bụi nam đa năng
                                                    giá rẻ, khăn bịt mặt dạng ống che nắng cổ mặt đi xe
                                                    máy phượt
                                                </div>
                                                <div class="notification__detail">
                                                    Lorem Ipsum is simply dummy text of the printing and
                                                    typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text ever since the 1500s,
                                                    when an unknown printer took a galley of type and
                                                    scrambled it to make a type specimen book. It has
                                                    survived not only five centuries, but also the leap
                                                    into electronic typesetting, remaining essentially
                                                    unchanged. It was popularised in the 1960s with the
                                                    release of Letraset sheets containing Lorem Ipsum
                                                    passages, and more recently with desktop publishing
                                                    software like Aldus PageMaker including versions of
                                                    Lorem Ipsum.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="notification-item">
                                            <div class="notification__image">
                                                <img src="" alt="" />
                                            </div>
                                            <div class="notification__info">
                                                <div class="notification__name">
                                                    [DEAL HOT] Khăn trùm chống nắng chống bụi nam đa năng
                                                    giá rẻ, khăn bịt mặt dạng ống che nắng cổ mặt đi xe
                                                    máy phượt
                                                </div>
                                                <div class="notification__detail">
                                                    <span> Lorem Ipsum is simply dummy text </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="notification-item">
                                            <div class="notification__image">
                                                <img src="" alt="" />
                                            </div>
                                            <div class="notification__info">
                                                <div class="notification__name">
                                                    [DEAL HOT] Khăn trùm chống nắng chống bụi nam đa năng
                                                    giá rẻ, khăn bịt mặt dạng ống che nắng cổ mặt đi xe
                                                    máy phượt
                                                </div>
                                                <div class="notification__detail">
                                                    <span> Lorem Ipsum is simply dummy text </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="notification__footer">
                                    <div class="see-all-btn">Xem tất cả</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-item">
                    <div class="h-item__link text--hover">
                        <i class="fa-regular fa-circle-question"></i>
                        Hỗ trợ
                    </div>
                </div>
                <div class="h-item">
                    <div class="hovered-notify h-item__link text--hover">
                        <i class="fa-solid fa-earth-americas"></i>
                        Tiếng Việt
                        <i class="fa-solid fa-chevron-down"></i>
                        <div class="popover-wrapper popover--bg-clr box-shadow">
                            <div class="slt-language-wrapper language-notify--bg-clr">
                                <ul class="v-list">
                                    <li class="v-item">
                                        <a href="" class="v-item__link primary-text--hover primary-text">Tiếng Việt</a>
                                    </li>
                                    <li class="v-item">
                                        <a href="" class="v-item__link primary-text--hover">Tiếng Anh</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="user$; else notSignInTempRef">
                    <div class="h-item">
                        <a href="" class="h-item__link text--hover d-flex-c align-items-center-c hovered-notify">
                            <img class="user-avatar" src="https://cf.shopee.vn/file/e934de6d5d265382e870054c1af3e4e5_tn"
                                alt="" />
                            <span class="mr-l-5">huynhgiahuy492</span>
                            <div class="popover-wrapper popover--bg-clr">
                                <div class="account-wrapper">
                                    <ul class="v-v-list">
                                        <li class="v-item bg--hover sec-primary-text--hover">
                                            <a href="" class="v-item__link"> Tài khoản của tôi </a>
                                        </li>
                                        <li class="v-item bg--hover sec-primary-text--hover">
                                            <a href="" class="v-item__link"> Đơn mua </a>
                                        </li>
                                        <li class="v-item bg--hover sec-primary-text--hover">
                                            <a href="" class="v-item__link"> Đăng xuất </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-container>
                <ng-template #notSignInTempRef>
                    <div class="h-item h-item--separation">
                        <div class="h-item__link text--hover">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                    <div class="h-item h-item--separation">
                        <div class="h-item__link text--hover">
                            <span>Đăng nhập</span>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>