<admin-header></admin-header>
<div id="container">
  <div class="left" id="sidebar-main">
    <admin-sidebar></admin-sidebar>
  </div>
  <div class="right" id="content-main">
    <div class="frame">
      <div class="title">
        <div class="topTitle">
          <h1>Hồ sơ shop</h1>
          <p>Xem tình trạng shop và cập nhật hồ sơ shop của bạn</p>
        </div>
        <div class="bottomTitle">
          <p style="color: #0d6efd"><strong>Thông tin cơ bản</strong></p>
        </div>
      </div>
      <div class="content">
        <div class="left" style="flex: 9">
          <div class="avartar" style="border-top-left-radius: 3px; border-top-right-radius: 3px;padding-left: 0px">
            <div class="top">
              <div class="image" >
                <img src="assets/img/blog/comment2.jpg"
                     alt="" style="width: 100%; border: 1px solid #ebebeb; border-radius: 50%">
              </div>
              <div class="infor" style="margin-bottom: -2px;">
                <p><strong>Rui1515151</strong></p>
                <p style="margin-bottom: 0px">Đã tham gia</p>
                <p>Người theo 0&nbsp;|&nbsp;Theo dõi 0</p>
              </div>
            </div>
            <div class="bottom">
              <button class="changeImg">Sửa ảnh bìa</button>
            </div>
          </div>
          <div class="product">
            <mat-icon aria-hidden="false" >card_giftcard</mat-icon>
            <label style="display: inline-flex;
    vertical-align: bottom; font-weight: normal">Sản phẩm</label>
            <div class="rs" style="display: inline; float: right; color: #1d1678">
              <label style="display: inline-flex;
    vertical-align: bottom; font-weight: normal">0</label>
              <a><mat-icon>keyboard_arrow_right</mat-icon></a>
            </div>
          </div>
          <div class="replyRate" style="clear: right">
            <mat-icon aria-hidden="false">chat_bubble_outline</mat-icon>
            <label style="display: inline-flex;
    vertical-align: bottom; font-weight: normal">Tỷ lệ phản hồi</label>
            <div class="rs" style="clear: right;display: inline-block; float: right; color: #1d1678">
              <label style="margin-right: 7px; margin-top: 4px; font-weight: normal">57%</label>
            </div>
          </div>
          <div class="replyTime" style="clear: right">
            <mat-icon aria-hidden="false">timer</mat-icon>
            <label style="display: inline-flex;
    vertical-align: bottom; font-weight: normal">Thời gian phản hồi</label>
            <div class="rs" style="clear: right; display: inline; float: right; color: #1d1678">
              <label style="margin-right: 7px; margin-top: 4px; font-weight: normal">Khoảng vài giờ</label>
            </div>
          </div>
          <div class="shopRate" style="clear: right">
            <mat-icon aria-hidden="false">star_border</mat-icon>
            <label style="display: inline-flex;
    vertical-align: bottom; font-weight: normal">Đánh giá shop</label>
            <div class="rs" style="clear: right; display: inline; float: right; color: #1d1678;">
              <label style="margin-right: 7px; margin-top: 4px;font-weight: normal">0</label>
            </div>
          </div>
          <div class="unsuccesBillRate" style="clear: right;border-bottom-left-radius: 3px; border-bottom-right-radius: 3px">
            <mat-icon aria-hidden="false">event_available</mat-icon>
            <label style="display: inline-flex;
    vertical-align: bottom; font-weight: normal">Tỷ lệ đơn thành công</label>
            <div class="rs" style="clear:right; display: inline; float: right; color: #1d1678">
              <label style="display: inline-flex;
    vertical-align: bottom; font-weight: normal">0.00%</label>
              <a><mat-icon>keyboard_arrow_right</mat-icon></a>
            </div>
          </div>
        </div>
        <div class="mid" style="flex: 2"></div>
        <div class="right" style="flex: 18">
          <div style="width: 100%; height: 100%; background-color: white" class="content-right">
            <div class="shopeName">
              <p>Tên shop</p>
              <input type="text" value="Tino1" style="border-radius: 2px; width: 100%;border: 1px solid #001d6d; border-radius: 1px">
            </div>
            <div class="addImage">
              <p>Mô tả hình ảnh và video</p>
              <div class="add" style="width: 20%; border: 1px dashed #1d1678; text-align: center; padding-top: 5%; padding-bottom: 2%">
                <mat-icon>add</mat-icon>
                <p>Hình ảnh & video (0/5)</p>
              </div>
            </div>
            <div class="discription">
              <p>Mô tả shop</p>
              <textarea placeholder="Nhập mô tả hoặc thông tin của shop bạn tại đây" style="width: 100%;border: 1px solid #001d6d; border-radius: 1px"></textarea>
            </div>
            <button id="saveBtn">Lưu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
