<app-auth>
  <h2 id="title">Trang đăng ký</h2>
  <ng-container id="form-content">
    <form [formGroup]="form" action="#">
      <div class="single-acc-field">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your Email" formControlName="username">
      </div>
      <ng-container *ngIf="form.hasError('invalidUsername','username') && form.get('username')?.touched">
        <div class="alert alert-danger" role="alert">Username không hợp lệ</div>
      </ng-container>
      <fieldset formGroupName="passwordGroup">
        <div class="single-acc-field">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password" formControlName="password">
        </div>
        <div class="single-acc-field">
          <label for="password">Confirm Password</label>
          <input type="password" id="confir-mpassword" placeholder="Enter your password" formControlName="confirmPassword">
        </div>
      </fieldset>
      <ng-container *ngIf="form.hasError('passwordNotMatch','passwordGroup') && form.get('passwordGroup')?.touched">
        <div class="alert alert-danger" role="alert">Xác nhận mật khẩu không hợp lệ</div>
      </ng-container>
      <div class="single-acc-field">
        <button type="submit">Đăng ký</button>
      </div>
      <div>
        <a href="forget-password.html">Forget Password?</a>
      </div>
        <div class="single-acc-field mt-40px">
          <div class="separate-container">
            <div class="separate-line"></div>
            <div class="separate-text">Hoặc</div>
            <div class="separate-line"></div>
          </div>

          <ul class="diff-login-list">
            <li class="diff-login-item fb-bg">
                <i class="diff-login-item--icon fab fa-facebook"></i>
                <div class="diff-login-item--label" for="">Facebook</div>
            </li>
            <li class="gg-bg diff-login-item">
                <img class="diff-login-item--img" src="assets/img/icon/google.png" alt="">
                <label class="diff-login-item--label" for="">Google</label>
            </li>
            <li class="gg-bg diff-login-item apple-bg">
              <i class="diff-login-item--icon fab fa-apple"></i>
                <label class="diff-login-item--label" for="">Apple</label>
            </li>
          </ul>
      </div>
    </form>
  </ng-container>
</app-auth>
