.separate-container{
  display: flex;
  width: 100%;
}
.separate-line{
  flex-grow: 1;
  position: relative
}
.separate-line::before{
  content: "";
  flex-grow: 1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0.5px;
  background-color: #999;
}
.separate-text{
  flex-grow: 0;
  font-size: 1.4rem;
  padding: 0 10px
}
.diff-login-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.diff-login-item{
  height: 40px;
  border-radius: 3px;
  display: flex;
  margin: 0 20px;
}
.diff-login-item:first-child{
  margin: 0 20px 0 0 !important;
}
.diff-login-item:last-child{
  margin: 0 0 0 20px !important;
}
.diff-login-item--icon{
  margin: auto;
  font-size: 20px;
  padding: 0 10px;
  color: #fff
}
.diff-login-item--img{
  padding: 2px 10px 2px 2px;
}
.diff-login-item .diff-login-item--label{
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
  text-align: center;
  margin: auto;
  padding-right: 10px

}
.fb-bg{
  background-color: rgb(24,119,242);
}
.gg-bg{
  background-color: rgb(66,133,244);
}
.apple-bg{
  background-color: #000;
}