.register-container > .main{
    background-color: rgb(238, 77, 45);
}
.background-layout{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}
// Login form
.background-layout .register-form{
    width: 400px;
    background-color: var(--white-color--);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.06);
    padding: 20px;
    margin: 20px 0;
    position: absolute;
    left: 50%;
    transform: translateX(50%);
}
.register-form .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px
}
.register-form .header .title{
    font-size: 1.8rem
}

#register-button:hover{
    background-color: var(--hover-primary-color--)
}
.field{
    border: 1px solid #ccc
}
.field .password-view-mode {
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    padding: unset
}
.field .password-view-mode svg{
    width: 1.5rem;
    height: .75rem;
}
@media screen and (max-width: 1023px) {
    .background-layout {
        justify-content: center;
        align-items: center;
    }

    .background-layout .register-form {
        left: unset;
        transform: unset;
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
   
}

@media screen and (max-width: 739px) {
   
}