/* Navbar */
.navbar {
  background-color: white;
  -moz-box-shadow: 0px -5px 3px 5px #ccc;
  -webkit-box-shadow: 0px -5px 3px 5px #ccc;
  box-shadow: 0px -5px 3px 5px #ccc;
  border-radius: unset !important;
  justify-content: space-between !important;
  position: sticky
}

.navbar .navbar-brand-wrapper {}

.navbar .navbar-menu-wrapper {
  flex: 1;
  justify-content: flex-end;
  margin-right: 160px
}

.account-info-wrap {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px
}

.account-info-wrap::after {
  content: "";
  right: 0;
  position: absolute;
  width: 1px;
  height: 32px;
  background-color: #e8e8e8;
}

.account-info {
  padding: 5px 5px;
  border-radius: 30px;
  padding-right: 20px;
}

.account-info:hover {
  background-color: rgba(245, 245, 245);
}

.account-info span {}


.account-info img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 5px
}

.dropdown-button-wrap {
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative
}

.category-item {
  width: 33%;
  height: 33%;
}

.item-container {
  width: 100%;
  height: 100%;
}

.item-icon {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon:hover {
  background: var(--hover-color--);
}

.item-icon---circle {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-icon---circle:hover {
  transform: translateY(-3px);
}

// begin color icon background
.item-icon---circle mat-icon {
  color: white
}

//.item-icon---circle.purple {
//  background-color: rgb(113, 123, 235);
//}
.item-icon---background-1 {
  background-color: rgb(113, 123, 235);
}

.item-icon---background-2 {
  background-color: rgb(114, 166, 52);
}

.item-icon---background-3 {
  background-color: rgb(246, 69, 29);
}

.item-icon---background-4 {
  background-color: rgb(84, 217, 222);
}

.item-icon---background-5 {
  background-color: rgb(238, 192, 29);
}

.item-icon---background-6 {
  background-color: rgb(127, 168, 245);
}

.item-icon---background-7 {
  background-color: rgb(99, 190, 222);
}

.item-icon---background-8 {
  background-color: rgb(131, 131, 136);
}

// end color icon background
.item-name {
  text-align: center;
  color: var(--text-color--);
  font-weight: 500;
}

.dropdown-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative
}

.dropdown-button--has-category {
  content: '';
  width: 400px;
  height: 450px;
  background-color: white;
  position: absolute;
  top: 55px;
  right: -150px;
  display: none;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 15px 1px #ccc;
  -webkit-box-shadow: 0px 0px 15px 1px #ccc;
  box-shadow: 0px 0px 15px 1px #ccc;
  animation: growth ease-in 0.25s;
  will-change: opacity, transform;
  transform-origin: 58% top;
}

.dropdown-button--content {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.dropdown-button--has-category::after {
  content: '';
  border-width: 25px 27px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: -32px;
  right: 140px;
  z-index: -1;
  animation: fadeIn ease-in 0.3s;
}

.dropdown-button:hover .dropdown-button--has-category {
  display: block;
}


/* .notify */
.dropdown-button--has-notify {
  width: 450px;
  max-height: 550px;
  background-color: white;
  position: absolute;
  top: 55px;
  right: -150px;
  display: none;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 15px 1px #ccc;
  -webkit-box-shadow: 0px 0px 15px 1px #ccc;
  box-shadow: 0px 0px 15px 1px #ccc;
  animation: growth ease-in 0.3s;
  will-change: opacity, transform;
  transform-origin: 58% top;
  z-index: 1;
}

.dropdown-button--has-notify::before {
  content: "";
  border-width: 25px 35px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: -32px;
  right: 131px;
  z-index: -1;
}

.notify-hover:hover .dropdown-button--has-notify {
  display: block;
}

.notify-header {
  border-bottom: 1px solid #ccc;
  display: flex;
  min-height: 30px;
}

.notify-header div {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 12px
}

.notify-list {
  overflow-y: auto;
  max-height: 450px;
}

.notify-item {
  padding: 10px;
}

.notify-item:hover {
  background-color: var(--hover-color--)
}

.notify-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.notify-img {
  width: 48px;
  object-fit: contain;
  padding: 10px 0;
  border-radius: 2px;
}

.notify-info {
  margin-left: 10px;
}

.notify-name {
  color: var(--text-color--);
  margin: 0
}

.notify-description {
  max-height: 40px;
  overflow: hidden;
  color: var(--text-color--);
}

.notify-footer {
  text-align: center;
  border-top: 1px solid #ccc;
  min-height: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.notify-footer a {
  width: 100%;
}

/* notify end */
.dropdown-button mat-icon {
  border-radius: 50%;
  -webkit-text-fill-color: unset;
}

.dropdown-button:hover {
  background-color: #e8e8e8;
}

.navbar {
  z-index: 1;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
  display: none;
}

.brand-logo img {
  height: inherit;
}

.navbar .navbar-menu-wrapper .count-indicator {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
  text-align: center;
}

.navbar .navbar-menu-wrapper .count-indicator i {
  font-size: .9375rem;
  margin-right: 0;
  vertical-align: middle;
  color: #392C70;
}

.navbar .navbar-menu-wrapper .count-indicator .count {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #FF5E6D;
  top: -3px;
  font-size: .5625rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.navbar .navbar-menu-wrapper .count-indicator:after {
  display: none;
}

.navbar .navbar-menu-wrapper .navbar-nav {
  flex-direction: row;
  align-items: center;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  right: 0;
  left: auto;
  top: 48px;
  padding: 0;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  right: auto;
  left: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
  margin-bottom: 0;
  padding: 11px 13px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  font-size: 17px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
  margin-left: 2.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  margin-left: 10px;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
  margin-left: 0;
  margin-right: 2.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
  margin: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
  margin-right: .5rem;
  vertical-align: middle;
}
.account-info:hover .notification{
  display: block;
}
.account-info::before{
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 100%;
  left: 0
}
.notification {
  position: absolute;
  top: 150%;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  display: none;
  min-width: 250px;
  box-shadow: 0 0 5px #ccc;
}

.notification__list {
  box-shadow: 0 0 2px #ccc;
  border-radius: 3px;
  padding: 5px 0;
}
.notification__list.cart {
  min-width: 500px;
  max-height: 500px;
  overflow: auto;
}

.notification__list--color {
  background-color: #fff;
}

.notification__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

.notification__item:hover {
  background-color: var(--hover-color--);
}

.notification__item i {
  padding: 0 10px;
}