<nav class="navbar">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="index-2.html"><img src="assets/img/logo/admin-logo.png" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="index-2.html"><img src="assets/img/logo/logo-mini.svg"
        alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <!-- account-info-wrap -->
    <div class="account-info-wrap">
      <div class="account-info">
        <img src="assets/img/member-1.png" alt="">
        <span>huynhgiahuy492</span>
      </div>
    </div>
    <!-- category -->
    <div class="dropdown-button-wrap">
      <div class="dropdown-button">
        <mat-icon>apps</mat-icon>
        <div class="dropdown-button--has-category">
          <div class="dropdown-button--content">
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-1">
                    <mat-icon>card_giftcard</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Sản phẩm</p>
                </div>
              </div>
            </div>
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-2">
                    <mat-icon>list</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Danh mục của Shop</p>
                </div>
              </div>
            </div>
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-3">
                    <mat-icon> store_mall_directory</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Đơn hàng</p>
                </div>
              </div>
            </div>
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-4">
                    <mat-icon>speaker_group</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Kênh Marketing</p>
                </div>
              </div>
            </div>
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-5">
                    <mat-icon> local_atm</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Doanh thu</p>
                </div>
              </div>
            </div>
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-6">
                    <mat-icon>credit_card</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Số dư TK Shopee</p>
                </div>
              </div>
            </div>
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-7">
                    <mat-icon> insert_chart_outlined</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Phân tích bán hàng</p>
                </div>
              </div>
            </div>
            <div class="category-item">
              <div class="item-container">
                <div class="item-icon">
                  <div class="item-icon---circle purple item-icon---background-8">
                    <mat-icon>settings</mat-icon>
                  </div>
                </div>
                <div class="item-name">
                  <p>Thiết lập Shop</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- notify -->
    <div class="dropdown-button-wrap">
      <div class="dropdown-button notify-hover">
        <mat-icon>notifications_none</mat-icon>
        <div class="dropdown-button--has-notify">
          <header class="notify-header">
            <div>Thông báo gần đây</div>
            <div>Thông báo đã đọc</div>
          </header>
          <ul class="notify-list">
            <li class="notify-item">
              <a href="" class="notify-link">
                <img class="notify-img" src="assets/img/member-1.png" />
                <div class="notify-info">
                  <h3 class="notify-name">Cập nhật Toy Store</h3>
                  <div class="notify-description">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged</div>
                </div>
              </a>
            </li>
            <li class="notify-item">
              <a href="" class="notify-link">
                <img class="notify-img" src="assets/img/member-1.png" />
                <div class="notify-info">
                  <h3 class="notify-name">Cập nhật Toy Store</h3>
                  <div class="notify-description">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged</div>
                </div>
              </a>
          </ul>
          <footer class="notify-footer">
            <a href="">
              Xem tất cả thông báo
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</nav>
