.main-order{
  font-size: 18px;
  background-color: #dfe2f5;
  .menu-head{
    background-color: #e6effd;
    border: 1px solid #e1dcdc;
    padding: 5px;
    ul{
      a{
        font-size: 18px;
        margin-left: 70px;
      }
    }
  }
  .product-list{
    border: 1px solid #cad0f5;
    background-color: #eaf1fa;
    margin-top: 5px;
    .product-header{
      padding-top: 15px;
      button{
        font-size: 17px;
      }
      label{
        margin-left: 10px;
      }
    }
    .product-detail{
      margin-top: 15px;
      border-top: 2px solid #c5c3c3;
      img{
        background-color: #0b0b0b;
        width: 100px;
        height: 100px;
        float: left;
        margin-top: 7px;
        margin-right: 20px;
        margin-left: 10px;
      }
      p{
      }
      .product-name{
        margin-top: 15px;
      }
      .product-price{
        float: right;
        margin-top: -65px;
      }
    }
    .product-footer{
      margin-bottom: 100px;
      .product-footer-right{
        float: right;
        margin-right: 100px;
        .product-total-money{
          float: left;
          p{
            float: right;
          }
        }
        button{
          font-size: 17px;
          margin-right: 15px;
        }
      }
    }
  }
}
