<div class="main-order">
  <div class="menu-head">
    <ul>
      <a>Tất cả</a>
      <a>Chờ xác nhận</a>
      <a>Chờ lấy hàng</a>
      <a>Đang giao</a>
      <a>Đã giao</a>
      <a>Đã hủy</a>
    </ul>
  </div>
  <div class="product-list">
    <div class="product-header">
      <button type="button" class="btn btn-warning" [routerLink]="['/shop']">Xem Shop</button>
      <label>Mini Shop</label>
    </div>
    <div class="product-detail">
      <img src="assets/img/product/1.png">
      <label class="product-name">Product name </label>
      <p>Loại sản phẩm</p>
      <p>Số lương :<label>1</label></p>
      <p class="product-price">Giá : 45.000VNĐ</p>
    </div>
    <div class="product-detail">
      <img src="assets/img/product/1.png">
      <label class="product-name">Product name </label>
      <p>Loại sản phẩm</p>
      <p>Số lương :<label>1</label></p>
      <p class="product-price">Giá : 45.000VNĐ</p>
    </div>
    <div class="product-detail">
      <img src="assets/img/product/1.png">
      <label class="product-name">Product name </label>
      <p>Loại sản phẩm</p>
      <p>Số lương :<label>1</label></p>
      <p class="product-price">Giá : 45.000VNĐ</p>
    </div>
    <div class="product-detail">
      <img src="assets/img/product/1.png">
      <label class="product-name">Product name </label>
      <p>Loại sản phẩm</p>
      <p>Số lương :<label>1</label></p>
      <p class="product-price">Giá : 45.000VNĐ</p>
    </div>
    <div class="product-footer">
      <div class="product-footer-right">
        <label class="product-total-money">Tổng tiền :<p>1.245.000 VNĐ</p></label>
        <div>
          <button type="button" class="btn btn-danger">Mua lại</button>
          <button type="button" class="btn btn-outline-dark">Liên hệ người bán</button>
        </div>
      </div>
    </div>
  </div>
</div>
