table {
  width: 100%;
}

.primary-color{
  background-color: var(--primary-color--);
  color: #ffffff
}
.flex-container{
  display: flex;
  width: 100%;
}
.flex-container button{
  width: 30%;
  margin-right: 20px;
}
.font-weight-550{
  font-weight: 550;
}
.header-label{
  font-weight: 550;
  margin: 0
}
.header-container,.main-container{
  padding: 10px
}
.title-label{
  min-width: 200px;
  color: #777
}
.delivery{
}
.delivery .logo{
  width: 250px;
  object-fit: contain;
}
h4,h2{
  margin: 0
}
.font-weight-550{
  font-weight: 550;
}
.address, .content, .status{
  border: 2px dashed black;
}
.address__buyer, .address__seller, .status{
  padding: 5px;
  flex: 1
}
.address__seller, .content__left{
  border-right: 2px dashed black
}
.content,.status{
  border-top: unset
}

.content__left{
  flex-basis: 80%;
  padding: 5px
}
.content__right{
  flex: 1
}