<div class="product-list-section">
  <div class="product-list-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="max-width: 80px !important;">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" style="text-align: center;">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- productName Column -->
      <ng-container matColumnDef="thumbnail">ks
        <th mat-header-cell *matHeaderCellDef> Ảnh </th>
        <td mat-cell *matCellDef="let element" class="product-thumbnail-wrap">
          <img class="product-thumbnail" [src]="directLinkImage + element.thumbnail" alt="">
        </td>
      </ng-container>
      <!-- productName Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <!-- SKU Column -->
      <ng-container matColumnDef="SKU">
        <th mat-header-cell *matHeaderCellDef> SKU </th>
        <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
      </ng-container>

      <!-- category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Danh mục </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Giá </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency: "VND"}} </td>
      </ng-container>
      <!-- warehouse Column -->
      <ng-container matColumnDef="warehouse">
        <th mat-header-cell *matHeaderCellDef> Kho hàng </th>
        <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
      </ng-container>
      <!-- warehouse Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Sửa thông tin </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button style="background: var(--primary-color--); color: #fff">{{element.edit[0]}}</button>
          <button mat-raised-button >{{element.edit[1]}}</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
</div>
