.product-list-section {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid rgb(245, 245, 245);
  margin: 20px
}

.product-list-container table {
  width: 100%;
}
.product-thumbnail{
  padding: 20px
}
.product-thumbnail-wrap {
  max-width: 100px;
}

table th,
td {
  text-align: center;
}

td button {
  margin: 5px
}
