@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: rgb(255,163,127);
  --sub-color: rgb(255 163 127 / 59%);
  --button-color: rgb(255 112 56);
  --white-color: #fff;
  --text-color: #444;
  --hover-color: #8f8f8f14;
  --test--: rgb(225, 152, 75)
}

body {
  background-color: rgb(246, 246, 246)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0
}

h4 {
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

/* Common */
.grid {
  padding-top: 10px
}

.row-custom {
  flex-wrap: nowrap;
}

.mt-40px {
  margin-top: 40px
}

.pt-20px {
  padding-top: 20px
}

.pl-20px {
  padding-left: 20px;
}

/*  */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  outline: none;
  border: none
}
