@import "./assets/my-template/custom.scss";
@import "./assets/my-template/responsive.css";
@import "./assets/my-template/flex-custom.scss";
@import "./assets/my-template/grid.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-size: 1.4rem;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0 !important
}
a{
  text-decoration: none;
  color: unset;
}
.container{
  min-width: 90%
}
:root {
  --white-color--: white;
  --primary-color--: rgb(255, 163, 127);
  --primary-color-cart-badge-border--: rgba(247,142, 101,1);
  --grey-color--: #ccc;
  --sub-primary-color--: rgb(255 170 137);
  --button-color--: rgb(255 112 56);
  --text-color--: #444;
  --hover-color--: #ebebeb;
  --hover-primary-color--: rgba(255, 163, 127, 0.31);
  --base-cherry-color--: #f3425f;
  --base-lime-color--: #45bd62;
  --base-lemon-color--: #f7b928;
  --buyer-head-with-search-height--: 
}
.font-weight-550{
  font-weight: 550;
}
.mat-progress-spinner circle, .mat-spinner circle{
  stroke: var(--primary-color--);
}


ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: rgb(251 251 251);
}


h4 {
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

/* Common */

.row-custom {
  flex-wrap: nowrap;
}

.mt-40px {
  margin-top: 40px
}

.pt-20px {
  padding-top: 20px
}

.pl-20px {
  padding-left: 20px;
}

/*  */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  outline: none;
  border: none
}

@keyframes growth {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}


/* mat */
mat-select:disabled{
  cursor: not-allowed;
}
