<div class="container">
  <div class="title_add">
    <h2>Thêm 1 sản phẩm mới</h2>
    <p>Vui lòng chọn ngành hàng phù hợp cho sản phẩm của bạn.</p>
  </div>
  <hr>
  <div class="product_name">
    <form>
      <div class="form-group">
        <label class="product_add_label">Tên sản phẩm:</label>
        <input class="form-control" placeholder="Nhập vào" style="width: 70%">
      </div>
    </form>
  </div>
  <div class="product_box_branch">
    <div class="product_search_branch">
      <input class="form-control" placeholder="Nhập tên ngành hàng" style="width: 30%">
    </div>
    <div class="product_list_branch">
      <div class="product_list_branch_block product_list_branch_1" data-spy="scroll" data-target=".navbar" data-offset="50">
        <ul>
          <li>Thời trang nữ ></li>
          <li>Thời trang nam ></li>
          <li>Sắc đẹp ></li>
          <li>Sức Khỏe ></li>
          <li>Thiết bị điện tử ></li>
          <li>Laptop và máy tính ></li>
          <li>Điện Thoại và phụ kiện ></li>
          <li>Du lịch và hành lý ></li>
          <li>Túi ví nam ></li>
          <li>Túi vi nữ ></li>
          <li>Giày dép nam</li>
          <li>Giày dép nữ ></li>
          <li>Thực phẩm và đồ ăn uống ></li>
          <li>Văn Phòng phẩm ></li>
          <li>Thể thao và dã ngoại ></li>
          <li>Sách và tạp chí ></li>
          <li>Mô tô , xe máy ></li>
          <li>Đồ chơi trẻ em</li>
        </ul>
      </div>
      <div class="product_list_branch_block product_list_branch_2">
        <ul>
          <li>Thời trang nữ ></li>
          <li>Thời trang nam ></li>
          <li>Sắc đẹp ></li>
          <li>Sức Khỏe ></li>
          <li>Thiết bị điện tử ></li>
          <li>Laptop và máy tính ></li>
          <li>Điện Thoại và phụ kiện ></li>
          <li>Du lịch và hành lý ></li>
          <li>Túi ví nam ></li>
          <li>Túi vi nữ ></li>
          <li>Giày dép nam</li>
          <li>Giày dép nữ ></li>
          <li>Thực phẩm và đồ ăn uống ></li>
          <li>Văn Phòng phẩm ></li>
          <li>Thể thao và dã ngoại ></li>
          <li>Sách và tạp chí ></li>
          <li>Mô tô , xe máy ></li>
          <li>Đồ chơi trẻ em</li>
        </ul>
      </div>
      <div class="product_list_branch_block product_list_branch_3">
        <ul>
          <li>Thời trang nữ ></li>
          <li>Thời trang nam ></li>
          <li>Sắc đẹp ></li>
          <li>Sức Khỏe ></li>
          <li>Thiết bị điện tử ></li>
          <li>Laptop và máy tính ></li>
          <li>Điện Thoại và phụ kiện ></li>
          <li>Du lịch và hành lý ></li>
          <li>Túi ví nam ></li>
          <li>Túi vi nữ ></li>
          <li>Giày dép nam</li>
          <li>Giày dép nữ ></li>
          <li>Thực phẩm và đồ ăn uống ></li>
          <li>Văn Phòng phẩm ></li>
          <li>Thể thao và dã ngoại ></li>
          <li>Sách và tạp chí ></li>
          <li>Mô tô , xe máy ></li>
          <li>Đồ chơi trẻ em</li>
        </ul>
      </div>
    </div>
    <div class="branch_choose">
      <label >Đã chọn : </label>
      <p>Thời trang nữ/áo/111</p>
      <button class="btn btn-primary">Tiếp theo</button>
    </div>
  </div>
</div>
