<admin-header></admin-header>
<div class="container">
  <div class="title_add">
    <h2>Thêm 1 sản phẩm mới</h2>
    <p>Vui lòng chọn ngành hàng phù hợp cho sản phẩm của bạn.</p>
  </div>
  <hr>
  <div class="product_box_branch">
    <div class="product_search_branch">
      <form id="productInfoForm" [formGroup]="infoProductForm">
        <ng-container *ngIf="categories$ | async as categories">
          <mat-form-field appearance="fill" class="min-width: 100%">
            <mat-label>Tên sản phẩm</mat-label>
            <input #productNameInput matInput placeholder="Vui lòng nhập tên sản phẩm" required
              formControlName="search">
            <mat-hint align="end">{{productNameInput.value.length}} / {{maxLength}}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Chọn thể loại</mat-label>
            <mat-select [(ngModel)]="selectedCategory" name="food" formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category.name">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="!selectedCategory; else elseBlock">
            <p> <b>Selected category:</b> Chưa có thể loại được chọn! </p>
          </ng-container>
          <ng-template #elseBlock>
            <p> <b>Selected category:</b> {{selectedCategory}} </p>
          </ng-template>
        </ng-container>
      </form>
    </div>
    <div class="branch_choose">
      <button style="background-color: var(--button-color); border: none" mat-raise-button class="btn btn-primary"
        [routerLink]="['/seller/product-management/add-detail']"
        [disabled]="infoProductForm.invalid ? true : false">Tiếp
        theo</button>
    </div>
  </div>
