.container {
  background-color: rgba(243, 247, 248, 0.77);
  margin-top: 80px;
  padding-bottom: 60px;

  .title_add {
    margin-left: 115px;
  }

  .product_name {
    width: 90%;
    margin-bottom: 50px;
    margin-top: 2%;
    .input-group {
      form {
        width: 100%;
        display: block;
        margin-top: 1%;
        .product-name-error {
          flex: 1;
          background-color: #ef5a1b;
          margin-bottom: 5px;
          margin-top: -20px;
          margin-left: 275px;
          position: absolute;
          mat-error{
            span ::before{
              border-color: #ee4d2d transparent transparent;
              border-width: 6px 8px;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              position: absolute;
              top: 100%;
              left: 16px;
              bottom: 1px;
            }
            span{
              color: white;
            }
          }
        }
        .product-name-form{
          flex: 1;
          display: flex;
          margin-top: 10px;
          .product_add_label {
            float: left;
            margin-top: 3px;
            margin-left: 112px;
            margin-right: 20px;
            flex: 1;
          }

          input {
            flex: 5;
            outline: unset !important;
            height: 35px;
            border: none;
          }
        }
      }
    }
  }

  .product_box_branch {
    width: 80%;
    margin-left: 117px;
    margin-top: 20px;

    .product_search_branch {
      width: 30%;

      .form-control {
        -moz-border-radius-topright: 15px;
        -moz-border-radius-bottomright: 15px;
      }
    }

    .product_list_branch {
      display: flex;
      position: relative;
      margin-top: 30px;
      border: 2px solid rgba(180, 176, 176, 0.51);

      .product_list_branch_block {
        width: 400px;
        height: 400px;
        overflow-y: scroll;
        flex: 1;
        margin-left: 10px;

        ul {
          li {
            margin-top: 5px;
          }

          li:hover {
            background-color: gray;
          }
        }
      }

      .product_list_branch_1 {}

      .product_list_branch_2 {}

      .product_list_branch_3 {}
    }

    .branch_choose {
      margin-left: 10px;
      margin-top: 15px;

      label {
        float: left;
        margin-right: 5px;
      }

      p {
        color: #3f0404;
      }

      .btn-danger {
        margin-right: 7px;
      }

      button {
        font-size: 15px;
      }
    }
  }

  .selected-category {
    color: var(--primary-color) !important
  }
}

.product_list_branch_block ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
