<div class="content-container">
  <!-- Thông tin liên hệ -->
  <div class="contact-container">
    <div class="header-container d-flex align-items-center">
      <mat-icon>person</mat-icon>
      <h4 class="header-label">Thông tin liên hệ</h4>
    </div>
    <ng-container *ngIf="user$ | async as user">
      <div class="main-container">
        <div class="d-flex">
          <p class="title-label">Tên đăng nhập</p>
          <p>{{ user.username }}</p>
        </div>
        <div class="d-flex">
          <p class="title-label">Họ tên</p>
          <p>{{ user.fullName }}</p>
        </div>
        <div class="d-flex">
          <p class="title-label">Số điện thoại</p>
          <p>{{ user.phoneNumber }}</p>
        </div>
        <div class="d-flex">
          <p class="title-label">Email</p>
          <p>{{ user.email }}</p>
        </div>
        <div class="d-flex">
          <p class="title-label">Giới tính</p>
          <p>{{ user.gender }}</p>
        </div>
        <button
          mat-raised-button
          class="crimson-color"
          (click)="onClickUpdateContact()"
        >
          Thay đổi thông tin
        </button>
      </div>
    </ng-container>
  </div>
</div>
