<div class="cart-container">
  <div class="cart-row-wrap">
    <div class="cart-row header">
      <div class="cart-col">
        <mat-checkbox
          [(ngModel)]="cartTask.completed"
          (change)="setCartCheckedAll($event.checked)"
          class="example-margin"
        >
        </mat-checkbox>
        <p>Sản phẩm</p>
      </div>
      <div class="cart-col">
        <p>Đơn giá</p>
      </div>
      <div class="cart-col">
        <p>Số lượng</p>
      </div>
      <div class="cart-col">
        <p>Tổng tiền</p>
      </div>
      <div class="cart-col">
        <p>Thao tác</p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="cart$ | async as cart">
    <ng-container *ngFor="let cartItem of cart.cartItems; index as idx">
      <div class="cart-row-wrap" *ngIf="cartItem.pendingItems.length > 0">
        <div class="cart-row header">
          <div class="cart-col">
            <mat-checkbox
              [(ngModel)]="cartTask.cartItemTasks[idx].completed"
              (change)="setCartItemCheckedAll($event.checked, idx)"
              class="d-flex justify-content-lg-center align-content-lg-center"
            >
            </mat-checkbox>
            <p style="font-size: 1.6rem; font-weight: 550">
              Tên cửa hàng: {{ cartItem.shop.name }}
            </p>
          </div>
        </div>
        <ng-container
          *ngFor="let pendingItem of cartItem.pendingItems; index as pendingIdx"
        >
          <div class="cart-row product">
            <div class="cart-col">
              <mat-checkbox
                [(ngModel)]="
                  cartTask.cartItemTasks[idx].pendingItemTasks[pendingIdx]
                    .completed
                "
                (change)="pendingItemChange()"
                class="example-margin"
              >
              </mat-checkbox>
              <img
                [src]="directLinkImage + pendingItem.product.images[0].url"
                alt=""
              />
              <p>{{ pendingItem.product.name }}</p>
            </div>
            <div class="cart-col">
              <span
                *ngIf="pendingItem.product.discountPercent > 0"
                style="color: #999; text-decoration: line-through"
              >
                {{ pendingItem.product.sourcePrice | currency: "VND" }}
              </span>
              <span>{{ pendingItem.product.buyPrice | currency: "VND" }}</span>
            </div>
            <div class="cart-col">
              <input
                #quantityInput
                (change)="
                  changeQuantity(
                    quantityInput.value,
                    cartItem.id,
                    pendingItem.id
                  )
                "
                style="
                  text-align: center;
                  border: 2px solid var(--primary-color--);
                  border-radius: 5px;
                "
                type="number"
                min="1"
                [value]="pendingItem.quantity"
              />
            </div>
            <div class="cart-col">
              <p>
                {{
                  pendingItem.quantity * pendingItem.product.buyPrice
                    | currency: "VND"
                }}
              </p>
            </div>
            <div class="cart-col">
              <mat-icon (click)="removePendingItem(cartItem.id, pendingItem.id)"
                >delete</mat-icon
              >
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <div class="cart-row-wrap" style="position: sticky; bottom: 0">
    <div class="cart-row summary-cart">
      <div class="d-flex align-items-center">
        <mat-checkbox
          [(ngModel)]="cartTask.completed"
          (change)="setCartCheckedAll($event.checked)"
          class="example-margin"
        >
        </mat-checkbox>
        <p style="margin: 0 20px">Chọn tất cả ({{ totalPendingItem }})</p>
        <p>Xóa</p>
      </div>
      <div class="d-flex align-items-center">
        <p>Tổng thanh toán ({{ this.getTotalSltPendingItem() }} sản phẩm):</p>
        <h1
          *ngIf="(sumCart$ | async) == null as sumCart"
          style="margin: 0 20px; color: var(--primary-color--)"
        >
          0đ
        </h1>
        <h1
          *ngIf="sumCart$ | async as sumCart"
          style="margin: 0 20px; color: var(--primary-color--)"
        >
          {{ sumCart.totalPayment | currency: "VND" }}
        </h1>
        <button class="buy-now-btn" mat-raised-button (click)="onClickBuyNow()">Mua hàng</button>
      </div>
    </div>
  </div>
</div>
