<div class="cart-container">
  <div class="cart-row-wrap">
    <div class="cart-row header">
      <div class="cart-col">
        <mat-checkbox class="example-margin"> </mat-checkbox>
        <p>Sản phẩm</p>
      </div>
      <div class="cart-col">
        <p>Đơn giá</p>
      </div>
      <div class="cart-col">
        <p>Số lượng</p>
      </div>
      <div class="cart-col">
        <p>Tổng tiền</p>
      </div>
      <div class="cart-col">
        <p>Thao tác</p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="cart$ | async as cart">
    <ng-container *ngFor="let cartItem of cart.cartItems">
      <div class="cart-row-wrap">
        <div class="cart-row header">
          <div class="cart-col">
            <mat-checkbox
              class="d-flex justify-content-lg-center align-content-lg-center"
            >
            </mat-checkbox>
            <p style="font-size: 1.6rem; font-weight: 550">
              Tên cửa hàng: {{ cartItem.shop.name}}
            </p>
          </div>
        </div>
        <ng-container *ngFor="let pendingItem of cartItem.pendingItems">
          <div class="cart-row product">
            <div class="cart-col">
              <mat-checkbox class="example-margin"> </mat-checkbox>
              <img [src]="directLinkImage + pendingItem.product.images[0].url" alt="" />
              <p>{{pendingItem.product.name}}</p>
            </div>
            <div class="cart-col">
              <p>{{pendingItem.product.buyPrice  | currency:"VND"}}</p>
            </div>
            <div class="cart-col">
              <input style="text-align: center; border: 2px solid var(--primary-color--); border-radius: 5px" type="number" min="1" [value]="pendingItem.quantity" />
            </div>
            <div class="cart-col">
              <p>{{pendingItem.quantity * pendingItem.product.buyPrice | currency:"VND"}}</p>
            </div>
            <div class="cart-col">
              <mat-icon>delete</mat-icon>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
